<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey%20Model%20Mark%20I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [2]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/EV%20On-Ice%20Totals.csv')
#print(skater_EV_totals_raw)
#skater_EV_totals_raw.head()

In [3]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [4]:
#Add columns for G+/-,xG+/-
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [5]:
#Drop columns we don't need
skater_EV_totals = skater_EV_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA'])
#skater_EV_totals

In [6]:
#Rename columns
skater_EV_totals = skater_EV_totals.rename(columns = {'Position':'Position_EV','GP':'GP_EV','TOI':'TOI_EV','G+/-':'G_EV','xG+/-':'xG_EV'})
#skater_EV_totals

In [7]:
#Check for duplicates
#skater_EV_totals.loc[skater_EV_totals.Player=="Andrew Cogliano"]

In [8]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [9]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [10]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [11]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [12]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
#skater_PP_totals

In [13]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA','G+/-','xG+/-','xGAA'])
#skater_PP_totals

In [14]:
#Rename columns
skater_PP_totals = skater_PP_totals.rename(columns = {'Position':'Position_PP','GP':'GP_PP','TOI':'TOI_PP','GAA':'GAA_PP'})
#skater_PP_totals

In [15]:
#Check for duplicates
#skater_PP_totals.loc[skater_PP_totals.Player=='Andrew Cogliano']

In [16]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [17]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [18]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [19]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [20]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [21]:
#Drop columns
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA','GF%','GF','GA','G+/-'])
#skater_SH_totals

In [22]:
#Rename columns
skater_SH_totals = skater_SH_totals.rename(columns = {'Position':'Position_SH','GP':'GP_SH','TOI':'TOI_SH','GAA':'GAA_SH'})
#skater_SH_totals

In [23]:
#Check for duplicates
#skater_SH_totals.loc[skater_SH_totals.Player=='Andrew Cogliano']

In [24]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [25]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
#skater_box_totals.head()

In [26]:
#Check for duplicates
#skater_box_totals.loc[skater_box_totals.Player=='Andrew Cogliano']

In [27]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [28]:
#Check for duplicates
#forwards_table.loc[forwards_table.Player=='Andrew Cogliano']

In [29]:
#Get Mean of Points
Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [30]:
#Get PAA
#skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

#Get PAA for Fwds and Dmen and combine

forwards_table['PAA'] = forwards_table['Points'] - Forwards_mean
#forwards_table.head(10)

defensemen_table['PAA'] = defensemen_table['Points'] - Defensemen_mean
#defensemen_table.head(10)


#Add dataframes back together and sort again

concat_frames = [forwards_table, defensemen_table]
skater_box_totals = pd.concat(concat_frames)
skater_box_totals = skater_box_totals.sort_index()
#skater_box_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [31]:
#Combine skater EV and PP stats
combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="outer", on=['Player','Season'])
#combined_player_df.head()

In [32]:
#Drop duplicate columns
skater_EV_PP = combined_player_df.drop(columns = ['Team_y','Position_PP','GP_PP'])
#skater_EV_PP

In [33]:
#Check for duplicates
#skater_EV_PP.loc[skater_EV_PP.Player=='Andrew Cogliano']

In [34]:
#Merge EV,PP,SH tables together
full_player_totals = pd.merge(skater_EV_PP, skater_SH_totals, how="left", on=["Player", "Season"])
#full_player_totals.head(10)

In [35]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Team','Position_SH','GP_SH'])
#full_player_totals.head(10)

In [36]:
#full_player_totals.loc[full_player_totals.Player=='Andrew Cogliano']

In [37]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Season"])
#full_player_totals.head()

In [38]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Team','Position','GP','G','A1','A2'])
#full_player_totals.head(10)

In [39]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Team_x':'Team','Position_EV':'Position','GP_EV':'GP','TOI':'TOI_tot'})
#full_player_totals

In [40]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
#full_player_totals

In [41]:
#Check for duplicates
#full_player_totals.loc[full_player_totals.Player=='Andrew Cogliano']

In [42]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/Goalie%20Stats.csv')
#print(goalie_stats_raw)
#goalie_stats_raw.head()

In [43]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
#goalie_stats.head()

In [44]:
#Add Active / Inactive Column to both data tables
full_player_totals['A/I'] = 'Active'
full_player_totals

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-22.347988,Active
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,12.38,-0.18,95.90,-3.070109,134.87,-13.197407,1537.92,41,26.004535,Active
2,Aaron Ekblad,20-21,FLA,D,35,630.15,6.70,4.93,132.75,7.219891,86.47,2.662593,878.18,22,7.004535,Active
3,Aaron Ekblad,21-22,FLA,D,61,1091.47,29.17,19.93,214.78,20.069891,166.83,-1.627407,1519.70,57,42.004535,Active
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.29,0.40,0.00,0.000000,0.00,0.000000,300.83,1,-13.995465,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,22.43,0.67,0.00,0.000000,214.07,-11.567407,1428.48,14,-0.995465,Active
2476,Zdeno Chara,20-21,WSH,D,55,817.42,2.03,2.04,0.00,0.000000,145.72,-6.487407,1006.27,10,-4.995465,Active
2477,Zdeno Chara,21-22,NYI,D,72,1195.98,5.92,-8.20,0.00,0.000000,123.65,4.072593,1348.45,14,-0.995465,Active
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,-4.34,-0.41,0.00,0.000000,147.87,-13.037407,951.77,19,-5.347988,Active
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,-6.07,-3.79,54.37,-5.550109,81.28,-4.487407,828.20,18,-6.347988,Active

In [45]:
#List of team names
#print(full_player_totals['Team'].unique())

In [46]:
#Put Players on current teams

#NHL API info
#https://towardsdatascience.com/nhl-analytics-with-python-6390c5d3206d
#https://github.com/dword4/nhlapi
#https://gitlab.com/dword4/nhlapi

#API JSON project example
#https://github.com/danmartin25/World_Weather_Analysis/blob/main/WeatherPy.ipynb

#Test all
#data = requests.get('https://statsapi.web.nhl.com/api/v1/configurations').json()
#data

#Different options
#data = requests.get('https://statsapi.web.nhl.com/api/v1/expands').json()
#data

#Empty Dictionary to Hold Rosters
#active_rosters = []

### NOTE: ONLY RUN REQUEST ONCE, THEN COMMENT OUT. INFO WILL STAY IN VARIABLE
#json_api_data = requests.get('https://statsapi.web.nhl.com/api/v1/teams?expand=team.roster').json()

#Variable where data is stored
#json_api_data

#Devils Roster (Index 0, change indext to 1, 2, etc for other teams rosters)
#json_api_data["teams"][0]

#player_name = json_api_data["teams"][0]
#player_team = 
#player_position = #code


#active_rosters.append{{"Player": player_name,
#                       "Team": player_team,
#                       "Postion": player_position}}

In [47]:
#Make a Data Table for each team
Ducks_skaters = full_player_totals.loc[(full_player_totals.Team == 'ANA')]
Coyotes_skaters = full_player_totals.loc[(full_player_totals.Team == 'ARI')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
#Avalanche_skaters.head(10)

In [48]:
full_player_totals.head(30)

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-22.347988,Active
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,12.38,-0.18,95.90,-3.070109,134.87,-13.197407,1537.92,41,26.004535,Active
2,Aaron Ekblad,20-21,FLA,D,35,630.15,6.70,4.93,132.75,7.219891,86.47,2.662593,878.18,22,7.004535,Active
3,Aaron Ekblad,21-22,FLA,D,61,1091.47,29.17,19.93,214.78,20.069891,166.83,-1.627407,1519.70,57,42.004535,Active
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.29,0.40,0.00,0.000000,0.00,0.000000,300.83,1,-13.995465,Active
5,Adam Boqvist,19-20,CHI,D,41,563.95,3.21,-1.85,87.02,-6.100109,0.00,0.000000,665.12,13,-1.995465,Active
6,Adam Boqvist,20-21,CHI,D,35,459.97,-2.34,-3.11,118.65,-1.990109,0.00,0.000000,594.65,16,1.004535,Active
7,Adam Boqvist,21-22,CBJ,D,52,763.68,-3.32,-7.46,98.63,-4.540109,0.00,0.000000,886.05,22,7.004535,Active
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,0.00,0.000000,0.00,0.000000,54.97,3,-21.347988,Active
9,Adam Brooks,20-21,TOR,C,11,110.38,3.13,0.49,0.00,0.000000,0.00,0.000000,117.45,5,-19.347988,Active
10,Adam Brooks,21-22,MTL/VGK/WPG,C,25,213.63,2.24,-1.42,0.00,0.000000,0.00,0.000000,223.70,3,-21.347988,Active
11,Adam Erne,19-20,DET,L,56,599.72,-21.29,-6.36,48.92,-13.440109,0.00,0.000000,661.68,5,-19.347988,Active
12,Adam Erne,20-21,DET,L,45,546.73,-1.43,-4.85,67.95,-6.690109,0.00,0.000000,626.45,20,-4.347988,Active
13,Adam Erne,21-22,DET,L,79,961.42,-16.75,-8.50,72.93,-11.490109,0.00,0.000000,1057.55,19,-5.347988,Active
14,Adam Fox,19-20,NYR,D,70,1149.98,21.83,5.15,136.88,2.029891,0.00,0.000000,1323.30,42,27.004535,Active
15,Adam Fox,20-21,NYR,D,55,980.62,12.55,6.03,197.82,17.849891,139.75,-0.747407,1358.85,47,32.004535,Active
16,Adam Fox,21-22,NYR,D,78,1421.08,10.49,2.58,228.88,33.179891,163.50,-1.787407,1862.67,74,59.004535,Active
17,Adam Gaudette,19-20,VAN,C,59,630.95,-6.40,-3.94,89.62,4.369891,0.00,0.000000,730.63,33,8.652012,Active
18,Adam Gaudette,20-21,CHI/VAN,C,40,399.47,-13.09,-6.80,40.63,-10.660109,0.00,0.000000,444.85,11,-13.347988,Active
19,Adam Gaudette,21-22,CHI/OTT,C,58,583.91,-7.60,-8.66,67.20,-10.560109,0.00,0.000000,656.54,14,-10.347988,Active
20,Adam Henrique,19-20,ANA,C,71,947.27,-2.59,-2.82,161.75,-0.160109,38.63,7.732593,1197.57,43,18.652012,Active
21,Adam Henrique,20-21,ANA,C,45,581.68,-2.02,-5.31,79.65,-9.380109,40.68,2.282593,721.80,21,-3.347988,Active
22,Adam Henrique,21-22,ANA,C,58,847.38,-0.34,3.72,120.70,6.859891,0.00,0.000000,1010.33,42,17.652012,Active
23,Adam Larsson,19-20,EDM,D,49,871.58,-6.02,-2.34,0.00,0.000000,78.42,5.622593,971.73,6,-8.995465,Active
24,Adam Larsson,20-21,EDM,D,56,943.02,-1.14,0.34,0.00,0.000000,128.07,-3.417407,1100.25,10,-4.995465,Active
25,Adam Larsson,21-22,SEA,D,82,1583.00,-29.11,-12.37,0.00,0.000000,207.25,-18.227407,1826.83,25,10.004535,Active
26,Adam Lowry,19-20,WPG,L,49,603.53,-4.38,-8.53,0.00,0.000000,107.42,-1.367407,733.12,10,-14.347988,Active
27,Adam Lowry,20-21,WPG,L,52,623.15,4.35,-3.10,41.37,-10.710109,123.95,-0.207407,807.35,24,-0.347988,Active
28,Adam Lowry,21-22,WPG,C/L,79,951.05,-11.10,1.58,72.17,-5.910109,181.32,-14.057407,1222.95,21,-3.347988,Active
29,Adam Pelech,19-20,NYI,D,38,678.28,-2.09,-0.01,0.00,0.000000,103.88,5.842593,803.02,9,-5.995465,Active

In [49]:
#Inspect Data
full_player_totals.head(20)

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-22.347988,Active
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,12.38,-0.18,95.90,-3.070109,134.87,-13.197407,1537.92,41,26.004535,Active
2,Aaron Ekblad,20-21,FLA,D,35,630.15,6.70,4.93,132.75,7.219891,86.47,2.662593,878.18,22,7.004535,Active
3,Aaron Ekblad,21-22,FLA,D,61,1091.47,29.17,19.93,214.78,20.069891,166.83,-1.627407,1519.70,57,42.004535,Active
4,Aaron Ness,19-20,ARI,D,24,292.63,-0.29,0.40,0.00,0.000000,0.00,0.000000,300.83,1,-13.995465,Active
5,Adam Boqvist,19-20,CHI,D,41,563.95,3.21,-1.85,87.02,-6.100109,0.00,0.000000,665.12,13,-1.995465,Active
6,Adam Boqvist,20-21,CHI,D,35,459.97,-2.34,-3.11,118.65,-1.990109,0.00,0.000000,594.65,16,1.004535,Active
7,Adam Boqvist,21-22,CBJ,D,52,763.68,-3.32,-7.46,98.63,-4.540109,0.00,0.000000,886.05,22,7.004535,Active
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,0.00,0.000000,0.00,0.000000,54.97,3,-21.347988,Active
9,Adam Brooks,20-21,TOR,C,11,110.38,3.13,0.49,0.00,0.000000,0.00,0.000000,117.45,5,-19.347988,Active
10,Adam Brooks,21-22,MTL/VGK/WPG,C,25,213.63,2.24,-1.42,0.00,0.000000,0.00,0.000000,223.70,3,-21.347988,Active
11,Adam Erne,19-20,DET,L,56,599.72,-21.29,-6.36,48.92,-13.440109,0.00,0.000000,661.68,5,-19.347988,Active
12,Adam Erne,20-21,DET,L,45,546.73,-1.43,-4.85,67.95,-6.690109,0.00,0.000000,626.45,20,-4.347988,Active
13,Adam Erne,21-22,DET,L,79,961.42,-16.75,-8.50,72.93,-11.490109,0.00,0.000000,1057.55,19,-5.347988,Active
14,Adam Fox,19-20,NYR,D,70,1149.98,21.83,5.15,136.88,2.029891,0.00,0.000000,1323.30,42,27.004535,Active
15,Adam Fox,20-21,NYR,D,55,980.62,12.55,6.03,197.82,17.849891,139.75,-0.747407,1358.85,47,32.004535,Active
16,Adam Fox,21-22,NYR,D,78,1421.08,10.49,2.58,228.88,33.179891,163.50,-1.787407,1862.67,74,59.004535,Active
17,Adam Gaudette,19-20,VAN,C,59,630.95,-6.40,-3.94,89.62,4.369891,0.00,0.000000,730.63,33,8.652012,Active
18,Adam Gaudette,20-21,CHI/VAN,C,40,399.47,-13.09,-6.80,40.63,-10.660109,0.00,0.000000,444.85,11,-13.347988,Active
19,Adam Gaudette,21-22,CHI/OTT,C,58,583.91,-7.60,-8.66,67.20,-10.560109,0.00,0.000000,656.54,14,-10.347988,Active

**Stuff to Do Next - (have no more time, so quick thoughts that I have not checked, like the next one would be so easy to check if I had another 5 mins)**

In [50]:
#Are these right? duplicate naming issues for "TOI_SH" and no PP?
full_player_totals.columns

Index(['Player', 'Season', 'Team', 'Position', 'GP', 'TOI_EV', 'G_EV', 'xG_EV',
       'TOI_PP', 'GAA_PP', 'TOI_SH', 'GAA_SH', 'TOI_tot', 'Points', 'PAA',
       'A/I'],
      dtype='object')

Need to create a dataframe for each team. Use the loc function on player table first to get all the players for one team. Then do the same thing with goalies. We will probably need to keep them seperate tables since they do not have similar variables

Not necessary at this stage but eventually we are going to want to consolidate these code blocks. Ex, the code to create all of the team rosters should be in one block with no output. For now you can do 64 blocks (32 for skaters, 32 for goalies) and show output so we can see if there are any errors, but once we get past that stage we will comment out the output and put it all in one block. If we ever need to go back in check you just take out the '#' and run the code to see the output.

Need to add a column for 'status'. I am thinking the two states we use are 'active' and 'inactive' for the starting lineups. Will be 18 skaters and 1 goalie when we update daily but doesnt matter now. Should put this in before all of the loc functions so it shows up for the team dataframes. Note: will have to be added to both the full_player_totals dataframe and the goalie_stats dataframe.

In [51]:
#Import Skater Box Car Stats
skater_box = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/Player%20Stats%20Box.csv')
skater_box

,Player,Season,Team,Position,GP,TOI,G,A1,A2,Points,...,iHF,iHA,iPENT2,iPEND2,iPENT5,iPEND5,iPEN±,FOW,FOL,FO±
0,A.J. Greer,21-22,N.J,L,9,70.70,1,0,1,2,...,20,11,1,6,0,0,5,2,1,1
1,Aaron Ekblad,19-20,FLA,D,67,1537.92,5,23,13,41,...,34,56,14,10,0,0,-4,0,0,0
2,Aaron Ekblad,20-21,FLA,D,35,878.18,11,5,6,22,...,24,46,14,8,1,1,-6,0,0,0
3,Aaron Ekblad,21-22,FLA,D,61,1519.70,15,13,29,57,...,62,54,13,9,0,0,-4,0,0,0
4,Aaron Ness,19-20,ARI,D,24,300.83,0,1,0,1,...,17,49,0,5,0,0,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492,Zdeno Chara,19-20,BOS,D,68,1428.48,5,2,7,14,...,78,67,20,10,4,4,-10,0,0,0
2493,Zdeno Chara,20-21,WSH,D,55,1006.27,2,4,4,10,...,88,33,12,4,2,2,-8,0,0,0
2494,Zdeno Chara,21-22,NYI,D,72,1348.45,2,8,4,14,...,125,46,20,6,5,5,-14,0,0,0
2495,Zemgus Girgensons,19-20,BUF,C,69,951.77,12,4,3,19,...,110,71,5,6,0,0,1,30,43,-13
2496,Zemgus Girgensons,21-22,BUF,C/L,56,828.20,10,7,1,18,...,81,85,6,9,1,0,2,143,144,-1

In [52]:
#Restrict Data Table to Player, Season, Team, G, A1, A2, iSH, iBLK, iPEN±, FO±
skater_box = skater_box.loc[:,['Player','Season','Team','GP','G','A1','A2','iSF','iBLK','iPEN±','FO±']]
skater_box

                 Player Season Team  GP   G  A1  A2  iSF  iBLK  iPEN±  FO±
0            A.J. Greer  21-22  N.J   9   1   0   1   14     3      5    1
1          Aaron Ekblad  19-20  FLA  67   5  23  13  147    84     -4    0
2          Aaron Ekblad  20-21  FLA  35  11   5   6  101    27     -6    0
3          Aaron Ekblad  21-22  FLA  61  15  13  29  180    69     -4    0
4            Aaron Ness  19-20  ARI  24   0   1   0   11    20      5    0
...                 ...    ...  ...  ..  ..  ..  ..  ...   ...    ...  ...
2492        Zdeno Chara  19-20  BOS  68   5   2   7   86   101    -10    0
2493        Zdeno Chara  20-21  WSH  55   2   4   4   67    67     -8    0
2494        Zdeno Chara  21-22  NYI  72   2   8   4   81    90    -14    0
2495  Zemgus Girgensons  19-20  BUF  69  12   4   3   85    20      1  -13
2496  Zemgus Girgensons  21-22  BUF  56  10   7   1   92    25      2   -1

[2497 rows x 11 columns]

In [53]:
#Import EV Skater Data
skater_EV = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Data/EV%20On-Ice%20Totals.csv')
skater_EV

,Player,Season,Team,Position,GP,TOI,GF%,SF%,FF%,CF%,...,CA,xGF,xGA,G±,S±,F±,C±,xG±,Sh%,Sv%
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,57.90,57.33,56.89,...,54.34,3.16,2.22,0.06,10.82,14.68,17.36,0.94,7.59,89.76
1,Aaron Ekblad,19-20,FLA,D,67,1268.28,54.75,53.16,53.30,53.14,...,1070.09,52.60,52.78,12.38,84.53,114.87,143.58,-0.18,10.03,90.59
2,Aaron Ekblad,20-21,FLA,D,35,630.15,57.67,54.51,53.65,53.97,...,481.39,26.51,21.58,6.70,54.32,59.26,83.07,4.93,7.68,93.24
3,Aaron Ekblad,21-22,FLA,D,61,1091.47,62.97,58.90,59.83,59.35,...,857.55,61.71,41.78,29.17,214.91,307.62,394.70,19.93,9.96,91.61
4,Aaron Ness,19-20,ARI,D,24,292.63,49.44,51.47,49.69,49.55,...,276.12,10.93,10.53,-0.29,8.70,-2.64,-4.93,0.40,8.39,90.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,D,68,1171.20,62.20,49.10,48.67,48.25,...,1085.01,42.25,41.58,22.43,-21.33,-43.04,-73.23,0.67,9.85,94.23
2476,Zdeno Chara,20-21,WSH,D,55,817.42,51.49,49.37,49.02,50.39,...,706.99,28.61,26.57,2.03,-9.96,-21.06,11.25,2.04,9.04,91.70
2477,Zdeno Chara,21-22,NYI,D,72,1195.98,53.26,44.88,44.56,43.73,...,1246.03,46.96,55.16,5.92,-123.65,-180.44,-277.79,-8.20,8.92,93.63
2478,Zemgus Girgensons,19-20,BUF,C,69,785.45,45.67,47.49,49.21,49.34,...,621.61,25.45,25.86,-4.34,-35.51,-15.13,-16.25,-0.41,6.82,92.66
2479,Zemgus Girgensons,21-22,BUF,C/L,56,680.62,43.07,47.03,47.87,47.61,...,550.71,21.01,24.80,-6.07,-37.66,-35.43,-50.15,-3.79,6.32,92.58

In [54]:
#Restrict Data to Goal Differential and Corsi Differential
skater_EV = skater_EV.loc[:,['Player', 'Season', 'G±', 'C±']]
skater_EV

                 Player Season     G±      C±
0            A.J. Greer  21-22   0.06   17.36
1          Aaron Ekblad  19-20  12.38  143.58
2          Aaron Ekblad  20-21   6.70   83.07
3          Aaron Ekblad  21-22  29.17  394.70
4            Aaron Ness  19-20  -0.29   -4.93
...                 ...    ...    ...     ...
2475        Zdeno Chara  19-20  22.43  -73.23
2476        Zdeno Chara  20-21   2.03   11.25
2477        Zdeno Chara  21-22   5.92 -277.79
2478  Zemgus Girgensons  19-20  -4.34  -16.25
2479  Zemgus Girgensons  21-22  -6.07  -50.15

[2480 rows x 4 columns]

In [55]:
#Merge EV and box car stats together
Game_Score = pd.merge(skater_box, skater_EV)
Game_Score

,Player,Season,Team,GP,G,A1,A2,iSF,iBLK,iPEN±,FO±,G±,C±
0,A.J. Greer,21-22,N.J,9,1,0,1,14,3,5,1,0.06,17.36
1,Aaron Ekblad,19-20,FLA,67,5,23,13,147,84,-4,0,12.38,143.58
2,Aaron Ekblad,20-21,FLA,35,11,5,6,101,27,-6,0,6.70,83.07
3,Aaron Ekblad,21-22,FLA,61,15,13,29,180,69,-4,0,29.17,394.70
4,Aaron Ness,19-20,ARI,24,0,1,0,11,20,5,0,-0.29,-4.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,68,5,2,7,86,101,-10,0,22.43,-73.23
2476,Zdeno Chara,20-21,WSH,55,2,4,4,67,67,-8,0,2.03,11.25
2477,Zdeno Chara,21-22,NYI,72,2,8,4,81,90,-14,0,5.92,-277.79
2478,Zemgus Girgensons,19-20,BUF,69,12,4,3,85,20,1,-13,-4.34,-16.25
2479,Zemgus Girgensons,21-22,BUF,56,10,7,1,92,25,2,-1,-6.07,-50.15

In [56]:
#Add column for player's average game score
Game_Score['GS'] = ((Game_Score['G']*0.75) + (Game_Score['A1']*0.7) + (Game_Score['A2']*0.55) + (Game_Score['iSF']*0.075) + (Game_Score['iBLK']*0.05) + (Game_Score['iPEN±']*0.15) + (Game_Score['FO±']*0.01) + (Game_Score['C±']*0.05) + (Game_Score['G±']*0.15))/ Game_Score['GP']
Game_Score

,Player,Season,Team,GP,G,A1,A2,iSF,iBLK,iPEN±,FO±,G±,C±,GS
0,A.J. Greer,21-22,N.J,9,1,0,1,14,3,5,1,0.06,17.36,0.459667
1,Aaron Ekblad,19-20,FLA,67,5,23,13,147,84,-4,0,12.38,143.58,0.756134
2,Aaron Ekblad,20-21,FLA,35,11,5,6,101,27,-6,0,6.70,83.07,0.806671
3,Aaron Ekblad,21-22,FLA,61,15,13,29,180,69,-4,0,29.17,394.70,1.258369
4,Aaron Ness,19-20,ARI,24,0,1,0,11,20,5,0,-0.29,-4.93,0.124375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Zdeno Chara,19-20,BOS,68,5,2,7,86,101,-10,0,22.43,-73.23,0.275044
2476,Zdeno Chara,20-21,WSH,55,2,4,4,67,67,-8,0,2.03,11.25,0.264400
2477,Zdeno Chara,21-22,NYI,72,2,8,4,81,90,-14,0,5.92,-277.79,0.066299
2478,Zemgus Girgensons,19-20,BUF,69,12,4,3,85,20,1,-13,-4.34,-16.25,0.280891
2479,Zemgus Girgensons,21-22,BUF,56,10,7,1,92,25,2,-1,-6.07,-50.15,0.320929