<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
print(skater_EV_totals_raw)
skater_EV_totals_raw.head()

                 Player Season Team Position  GP      TOI    GF%    SF%  \
0            A.J. Greer  21-22  N.J        L   9    70.45  50.50  57.90
1          Aaron Ekblad  19-20  FLA        D  67  1220.55  56.75  54.15
2          Aaron Ekblad  20-21  FLA        D  35   603.07  55.98  55.00
3          Aaron Ekblad  21-22  FLA        D  61  1047.80  63.35  58.86
4            Aaron Ness  19-20  ARI        D  24   289.15  49.44  51.48
...                 ...    ...  ...      ...  ..      ...    ...    ...
2650        Zdeno Chara  19-20  BOS        D  68  1166.42  62.20  49.01
2651        Zdeno Chara  20-21  WSH        D  55   813.33  51.49  49.44
2652        Zdeno Chara  21-22  NYI        D  72  1191.52  53.26  44.96
2653  Zemgus Girgensons  19-20  BUF        C  69   783.73  45.67  47.49
2654  Zemgus Girgensons  21-22  BUF      C/L  56   668.30  44.00  47.21

        FF%    CF%  ...       CA    xGF    xGA     G±      S±      F±      C±  \
0     57.33  56.89  ...    54.34   3.16   2.22   0.06   10.82   14.68   17.36
1     54.03  53.68  ...  1014.02  49.88  48.26  16.49  105.40  133.71  161.08
2     54.02  54.30  ...   456.49  24.44  19.71   4.76   57.29   62.33   85.88
3     59.73  59.25  ...   832.83  57.52  39.95  28.16  206.60  294.26  378.31
4     49.81  49.65  ...   274.00  10.80  10.43  -0.29    8.70   -1.58   -3.86
...     ...    ...  ...      ...    ...    ...    ...     ...     ...     ...
2650  48.63  48.16  ...  1081.03  41.95  41.11  22.43  -23.38  -44.27  -76.69
2651  49.07  50.41  ...   700.71  28.36  26.40   2.03   -8.76  -19.84   11.67
2652  44.64  43.76  ...  1240.89  46.88  54.86   5.92 -121.55 -177.36 -275.54
2653  49.16  49.30  ...   621.61  25.39  25.86  -4.34  -35.51  -16.06  -17.17
2654  48.25  47.86  ...   539.59  20.39  24.03  -5.14  -34.83  -28.56  -44.25

        xG±    Sh%    Sv%
0      0.94   7.59  89.76
1      1.62  10.08  90.93
2      4.73   7.07  93.20
3     17.57   9.74  91.94
4      0.37   8.45  90.83
...     ...    ...    ...
2650   0.84   9.92  94.21
2651   1.96   9.13  91.59
2652  -7.98   8.92  93.61
2653  -0.47   6.82  92.66
2654  -3.64   6.39  92.73

[2655 rows x 28 columns]

,Player,Season,Team,Position,GP,TOI,GF%,SF%,FF%,CF%,...,CA,xGF,xGA,G±,S±,F±,C±,xG±,Sh%,Sv%
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,57.90,57.33,56.89,...,54.34,3.16,2.22,0.06,10.82,14.68,17.36,0.94,7.59,89.76
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,56.75,54.15,54.03,53.68,...,1014.02,49.88,48.26,16.49,105.40,133.71,161.08,1.62,10.08,90.93
2,Aaron Ekblad,20-21,FLA,D,35,603.07,55.98,55.00,54.02,54.30,...,456.49,24.44,19.71,4.76,57.29,62.33,85.88,4.73,7.07,93.20
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,63.35,58.86,59.73,59.25,...,832.83,57.52,39.95,28.16,206.60,294.26,378.31,17.57,9.74,91.94
4,Aaron Ness,19-20,ARI,D,24,289.15,49.44,51.48,49.81,49.65,...,274.00,10.80,10.43,-0.29,8.70,-1.58,-3.86,0.37,8.45,90.83

In [3]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [4]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [5]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [6]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [7]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [8]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [9]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
#skater_PP_totals

In [10]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA'])
#skater_PP_totals

In [11]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [12]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [13]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [14]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [15]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [16]:
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA'])
#skater_SH_totals

In [17]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [32]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
skater_box_totals.head()

         Player Season Team Position  GP      TOI   G  A1  A2  Points
0    A.J. Greer  21-22  N.J        L   9    70.70   1   0   1       2
1  Aaron Ekblad  19-20  FLA        D  67  1537.92   5  23  13      41
2  Aaron Ekblad  20-21  FLA        D  35   878.18  11   5   6      22
3  Aaron Ekblad  21-22  FLA        D  61  1519.70  15  13  29      57
4    Aaron Ness  19-20  ARI        D  24   300.83   0   1   0       1

In [43]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [48]:
#Get Mean of Points
#Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [20]:
#Get PAA
skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

In [21]:
combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="left", on=["Player", "Player"])
#combined_player_df

In [22]:
combined_player_df = combined_player_df.drop(columns = ['GF%_x','GF_x','GA_x','Season_y','Team_y','Position_y','GP_y','GF%_y','GF_y','GA_y','G+/-_y'])
#combined_player_df

In [23]:
#Merge EV,PP,SH tables together
full_player_totals = pd.merge(combined_player_df, skater_SH_totals, how="left", on=["Player", "Player"])
#full_player_totals.head(10)

In [24]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Season','Team','Position','GP','GF%','GF','GA','G+/-'])
#full_player_totals.head(10)

In [25]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Player"])
#full_player_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TOI_x'} in the result is deprecated and will raise a MergeError in a future version.

In [26]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Season','Team','Position','GP','G','A1','A2'])
#full_player_totals.head(10)

In [27]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Season_x':'Season','Team_x':'Team','Position_x':'Position','GP_x':'GP','TOI_x':'TOI_EV','G+/-_x':'G_EV','xG+/-':'xG_EV','TOI_x':'TOI_PP','GAA_x':'GAA_PP','TOI_x':'TOI_SH','GAA_y':'GAA_SH','TOI_y':'TOI'})
#full_player_totals

In [28]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
full_player_totals

,Player,Season,Team,Position,GP,TOI_SH,xGF%,xGF,xGA,G_EV,xG_EV,TOI,GAA_PP,TOI_SH,GAA_SH,TOI,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,58.74,3.16,2.22,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-17.646597
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,50.83,49.88,48.26,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,21.353403
2,Aaron Ekblad,19-20,FLA,D,67,1220.55,50.83,49.88,48.26,16.49,1.62,95.90,-2.792102,134.87,-13.441789,878.18,22,2.353403
3,Aaron Ekblad,19-20,FLA,D,67,1220.55,50.83,49.88,48.26,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1519.70,57,37.353403
4,Aaron Ekblad,19-20,FLA,D,67,1220.55,50.83,49.88,48.26,16.49,1.62,95.90,-2.792102,86.47,2.418211,1537.92,41,21.353403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29852,Zemgus Girgensons,19-20,BUF,C,69,783.73,49.54,25.39,25.86,-4.34,-0.47,54.37,-5.272102,81.28,-4.731789,828.20,18,-1.646597
29853,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,45.90,20.39,24.03,-5.14,-3.64,54.37,-5.272102,147.87,-13.281789,951.77,19,-0.646597
29854,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,45.90,20.39,24.03,-5.14,-3.64,54.37,-5.272102,147.87,-13.281789,828.20,18,-1.646597
29855,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,45.90,20.39,24.03,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,951.77,19,-0.646597
29856,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,45.90,20.39,24.03,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,828.20,18,-1.646597

In [29]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Goalie%20Stats.csv')
print(goalie_stats_raw)
goalie_stats_raw.head()

             Player Season Team Position  GP      TOI      GA       SA  \
0        Aaron Dell  19-20  S.J        G  33  1834.23   91.06   994.37
1        Aaron Dell  20-21  N.J        G   7   319.17   21.45   153.29
2        Aaron Dell  21-22  BUF        G  12   565.38   37.95   356.65
3        Adam Huska  21-22  NYR        G   1    59.70    7.53    42.56
4       Adam Werner  19-20  COL        G   2    87.83    4.85    54.22
..              ...    ...  ...      ...  ..      ...     ...      ...
290     Ville Husso  21-22  STL        G  40  2341.22   99.87  1227.98
291   Vitek Vanecek  20-21  WSH        G  37  2114.03   94.48  1017.97
292   Vitek Vanecek  21-22  WSH        G  42  2317.27  103.74  1119.48
293     Zach Fucale  21-22  WSH        G   4   171.58    5.25    63.92
294  Zach Sawchenko  21-22  S.J        G   7   268.97   15.27   156.53

          FA     xGA    Sv%   FSv%  xFSv%  dFSv%   GSAA   GSAx
0    1352.10   92.16  90.84  93.27  93.18   0.08  -1.20   1.10
1     210.23   11.91  86.01  89.80  94.33  -4.54  -7.35  -9.54
2     467.99   30.60  89.36  91.89  93.46  -1.57  -4.85  -7.35
3      55.97    3.50  82.31  86.55  93.75  -7.20  -3.58  -4.03
4      65.83    3.76  91.05  92.63  94.29  -1.66   0.05  -1.09
..       ...     ...    ...    ...    ...    ...    ...    ...
290  1714.42  114.05  91.87  94.17  93.35   0.83  14.11  14.18
291  1441.90   86.90  90.72  93.45  93.97  -0.53  -0.80  -7.58
292  1564.69  100.89  90.73  93.37  93.55  -0.18   0.17  -2.85
293    98.66    6.67  91.79  94.68  93.24   1.44   0.69   1.42
294   218.80   15.09  90.24  93.02  93.10  -0.08  -0.74  -0.18

[295 rows x 16 columns]

,Player,Season,Team,Position,GP,TOI,GA,SA,FA,xGA,Sv%,FSv%,xFSv%,dFSv%,GSAA,GSAx
0,Aaron Dell,19-20,S.J,G,33,1834.23,91.06,994.37,1352.10,92.16,90.84,93.27,93.18,0.08,-1.20,1.10
1,Aaron Dell,20-21,N.J,G,7,319.17,21.45,153.29,210.23,11.91,86.01,89.80,94.33,-4.54,-7.35,-9.54
2,Aaron Dell,21-22,BUF,G,12,565.38,37.95,356.65,467.99,30.60,89.36,91.89,93.46,-1.57,-4.85,-7.35
3,Adam Huska,21-22,NYR,G,1,59.70,7.53,42.56,55.97,3.50,82.31,86.55,93.75,-7.20,-3.58,-4.03
4,Adam Werner,19-20,COL,G,2,87.83,4.85,54.22,65.83,3.76,91.05,92.63,94.29,-1.66,0.05,-1.09

In [30]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
goalie_stats.head()

        Player Season Team Position  GP      TOI     GA    Sv%  GSAx
0   Aaron Dell  19-20  S.J        G  33  1834.23  91.06  90.84  1.10
1   Aaron Dell  20-21  N.J        G   7   319.17  21.45  86.01 -9.54
2   Aaron Dell  21-22  BUF        G  12   565.38  37.95  89.36 -7.35
3   Adam Huska  21-22  NYR        G   1    59.70   7.53  82.31 -4.03
4  Adam Werner  19-20  COL        G   2    87.83   4.85  91.05 -1.09

In [31]:
#skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
#print(skater_PP_rates_raw)
#skater_PP_rates_raw.head()