<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [727]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [728]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
#print(skater_EV_totals_raw)
#skater_EV_totals_raw.head()

In [729]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [730]:
#Add columns for G+/-,xG+/-
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [731]:
skater_EV_totals = skater_EV_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA'])
skater_EV_totals

                 Player Season Team Position  GP      TOI   G+/-  xG+/-
0            A.J. Greer  21-22  N.J        L   9    70.45   0.06   0.94
1          Aaron Ekblad  19-20  FLA        D  67  1220.55  16.49   1.62
2          Aaron Ekblad  20-21  FLA        D  35   603.07   4.76   4.73
3          Aaron Ekblad  21-22  FLA        D  61  1047.80  28.16  17.57
4            Aaron Ness  19-20  ARI        D  24   289.15  -0.29   0.37
...                 ...    ...  ...      ...  ..      ...    ...    ...
2650        Zdeno Chara  19-20  BOS        D  68  1166.42  22.43   0.84
2651        Zdeno Chara  20-21  WSH        D  55   813.33   2.03   1.96
2652        Zdeno Chara  21-22  NYI        D  72  1191.52   5.92  -7.98
2653  Zemgus Girgensons  19-20  BUF        C  69   783.73  -4.34  -0.47
2654  Zemgus Girgensons  21-22  BUF      C/L  56   668.30  -5.14  -3.64

[2655 rows x 8 columns]

In [732]:
skater_EV_totals = skater_EV_totals.rename(columns = {'Position':'Position_EV','GP':'GP_EV','TOI':'TOI_EV','G+/-':'G_EV','xG+/-':'xG_EV'})
skater_EV_totals

                 Player Season Team Position_EV  GP_EV   TOI_EV   G_EV  xG_EV
0            A.J. Greer  21-22  N.J           L      9    70.45   0.06   0.94
1          Aaron Ekblad  19-20  FLA           D     67  1220.55  16.49   1.62
2          Aaron Ekblad  20-21  FLA           D     35   603.07   4.76   4.73
3          Aaron Ekblad  21-22  FLA           D     61  1047.80  28.16  17.57
4            Aaron Ness  19-20  ARI           D     24   289.15  -0.29   0.37
...                 ...    ...  ...         ...    ...      ...    ...    ...
2650        Zdeno Chara  19-20  BOS           D     68  1166.42  22.43   0.84
2651        Zdeno Chara  20-21  WSH           D     55   813.33   2.03   1.96
2652        Zdeno Chara  21-22  NYI           D     72  1191.52   5.92  -7.98
2653  Zemgus Girgensons  19-20  BUF           C     69   783.73  -4.34  -0.47
2654  Zemgus Girgensons  21-22  BUF         C/L     56   668.30  -5.14  -3.64

[2655 rows x 8 columns]

In [733]:
skater_EV_totals.loc[skater_EV_totals.Player=="Andrew Cogliano"]

              Player Season Team Position_EV  GP_EV  TOI_EV   G_EV  xG_EV
155  Andrew Cogliano  19-20  DAL           C     68  724.87   0.12   1.22
156  Andrew Cogliano  20-21  DAL           C     54  655.92  -9.46   2.55
157  Andrew Cogliano  21-22  COL           C     18  167.67  -1.96   0.02
158  Andrew Cogliano  21-22  S.J           C     56  614.15 -21.10  -8.24

In [734]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [735]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [736]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [737]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [738]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
#skater_PP_totals

In [739]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA','G+/-','xG+/-','xGAA'])
skater_PP_totals

                 Player Season Team Position  GP     TOI        GAA
0          Aaron Ekblad  19-20  FLA        D  67   95.90  -2.792102
1          Aaron Ekblad  20-21  FLA        D  35  132.75   7.497898
2          Aaron Ekblad  21-22  FLA        D  61  214.78  20.347898
3          Adam Boqvist  19-20  CHI        D  41   87.02  -5.822102
4          Adam Boqvist  20-21  CHI        D  35  118.65  -1.712102
...                 ...    ...  ...      ...  ..     ...        ...
1303      Zach Werenski  19-20  CBJ        D  63  171.17   1.127898
1304      Zach Werenski  20-21  CBJ        D  33   73.60  -7.242102
1305      Zach Werenski  21-22  CBJ        D  64  215.48   9.557898
1306       Zack Kassian  19-20  EDM        R  58   23.18 -12.042102
1307  Zemgus Girgensons  21-22  BUF      C/L  55   54.37  -5.272102

[1308 rows x 7 columns]

In [740]:
skater_PP_totals = skater_PP_totals.rename(columns = {'Position':'Position_PP','GP':'GP_PP','TOI':'TOI_PP','GAA':'GAA_PP'})
skater_PP_totals

                 Player Season Team Position_PP  GP_PP  TOI_PP     GAA_PP
0          Aaron Ekblad  19-20  FLA           D     67   95.90  -2.792102
1          Aaron Ekblad  20-21  FLA           D     35  132.75   7.497898
2          Aaron Ekblad  21-22  FLA           D     61  214.78  20.347898
3          Adam Boqvist  19-20  CHI           D     41   87.02  -5.822102
4          Adam Boqvist  20-21  CHI           D     35  118.65  -1.712102
...                 ...    ...  ...         ...    ...     ...        ...
1303      Zach Werenski  19-20  CBJ           D     63  171.17   1.127898
1304      Zach Werenski  20-21  CBJ           D     33   73.60  -7.242102
1305      Zach Werenski  21-22  CBJ           D     64  215.48   9.557898
1306       Zack Kassian  19-20  EDM           R     58   23.18 -12.042102
1307  Zemgus Girgensons  21-22  BUF         C/L     55   54.37  -5.272102

[1308 rows x 7 columns]

In [741]:
skater_PP_totals.loc[skater_PP_totals.Player=='Andrew Cogliano']

Empty DataFrame
Columns: [Player, Season, Team, Position_PP, GP_PP, TOI_PP, GAA_PP]
Index: []

In [742]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [743]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [744]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [745]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [746]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [747]:
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA','GF%','GF','GA','G+/-'])
skater_SH_totals

                 Player Season Team Position  GP     TOI        GAA
0          Aaron Ekblad  19-20  FLA        D  65  134.87 -13.441789
1          Aaron Ekblad  20-21  FLA        D  33   86.47   2.418211
2          Aaron Ekblad  21-22  FLA        D  61  166.83  -1.871789
3              Adam Fox  20-21  NYR        D  54  139.75  -0.991789
4              Adam Fox  21-22  NYR        D  78  163.50  -2.031789
...                 ...    ...  ...      ...  ..     ...        ...
1303        Zdeno Chara  19-20  BOS        D  67  214.07 -11.811789
1304        Zdeno Chara  20-21  WSH        D  55  145.72  -6.731789
1305        Zdeno Chara  21-22  NYI        D  68  123.65   3.828211
1306  Zemgus Girgensons  19-20  BUF        C  68  147.87 -13.281789
1307  Zemgus Girgensons  21-22  BUF      C/L  54   81.28  -4.731789

[1308 rows x 7 columns]

In [748]:
skater_SH_totals = skater_SH_totals.rename(columns = {'Position':'Position_SH','GP':'GP_SH','TOI':'TOI_SH','GAA':'GAA_SH'})
skater_SH_totals

                 Player Season Team Position_SH  GP_SH  TOI_SH     GAA_SH
0          Aaron Ekblad  19-20  FLA           D     65  134.87 -13.441789
1          Aaron Ekblad  20-21  FLA           D     33   86.47   2.418211
2          Aaron Ekblad  21-22  FLA           D     61  166.83  -1.871789
3              Adam Fox  20-21  NYR           D     54  139.75  -0.991789
4              Adam Fox  21-22  NYR           D     78  163.50  -2.031789
...                 ...    ...  ...         ...    ...     ...        ...
1303        Zdeno Chara  19-20  BOS           D     67  214.07 -11.811789
1304        Zdeno Chara  20-21  WSH           D     55  145.72  -6.731789
1305        Zdeno Chara  21-22  NYI           D     68  123.65   3.828211
1306  Zemgus Girgensons  19-20  BUF           C     68  147.87 -13.281789
1307  Zemgus Girgensons  21-22  BUF         C/L     54   81.28  -4.731789

[1308 rows x 7 columns]

In [749]:
skater_SH_totals.loc[skater_SH_totals.Player=='Andrew Cogliano']

             Player Season Team Position_SH  GP_SH  TOI_SH    GAA_SH
69  Andrew Cogliano  19-20  DAL           C     67   98.72 -2.301789
70  Andrew Cogliano  20-21  DAL           C     52   77.60  2.518211
71  Andrew Cogliano  21-22  COL           C     18   25.40  7.408211
72  Andrew Cogliano  21-22  S.J           C     55  104.72  1.308211

In [750]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [751]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
#skater_box_totals.head()

In [752]:
skater_box_totals.loc[skater_box_totals.Player=='Andrew Cogliano']

              Player Season Team Position  GP     TOI  G  A1  A2  Points
155  Andrew Cogliano  19-20  DAL        C  68  848.10  3   9   2      14
156  Andrew Cogliano  20-21  DAL        C  54  752.02  5   4   2      11
157  Andrew Cogliano  21-22  COL        C  18  198.30  0   1   0       1
158  Andrew Cogliano  21-22  S.J        C  56  739.27  4   6   5      15

In [753]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [754]:
forwards_table.loc[forwards_table.Player=='Andrew Cogliano']

              Player Season Team Position  GP     TOI  G  A1  A2  Points
155  Andrew Cogliano  19-20  DAL        C  68  848.10  3   9   2      14
156  Andrew Cogliano  20-21  DAL        C  54  752.02  5   4   2      11
157  Andrew Cogliano  21-22  COL        C  18  198.30  0   1   0       1
158  Andrew Cogliano  21-22  S.J        C  56  739.27  4   6   5      15

In [755]:
#Get Mean of Points
Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [756]:
#Get PAA
#skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

#Get PAA for Fwds and Dmen and combine

forwards_table['PAA'] = forwards_table['Points'] - Forwards_mean
forwards_table.head(10)

defensemen_table['PAA'] = defensemen_table['Points'] - Defensemen_mean
defensemen_table.head(10)


#Add dataframes back together and sort again

concat_frames = [forwards_table, defensemen_table]
skater_box_totals = pd.concat(concat_frames)
skater_box_totals = skater_box_totals.sort_index()
#skater_box_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [757]:
#ska

In [758]:
#Combine skater EV and PP stats
combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="outer", on=['Player','Season'])
combined_player_df.head()

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,Team_y,Position_PP,GP_PP,TOI_PP,GAA_PP
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,FLA,D,67.0,95.90,-2.792102
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,FLA,D,35.0,132.75,7.497898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,FLA,D,61.0,214.78,20.347898
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,NaN

In [759]:
skater_EV_PP = combined_player_df.drop(columns = ['Team_y','Position_PP','GP_PP'])
skater_EV_PP

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2713,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,NaN,NaN
2714,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,NaN,NaN
2715,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,NaN,NaN
2716,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,NaN,NaN
2717,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102

In [760]:
skater_EV_PP.loc[skater_EV_PP.Player=='Andrew Cogliano']

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP
157,Andrew Cogliano,19-20,DAL,C,68,724.87,0.12,1.22,NaN,NaN
158,Andrew Cogliano,20-21,DAL,C,54,655.92,-9.46,2.55,NaN,NaN
159,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,NaN,NaN
160,Andrew Cogliano,21-22,S.J,C,56,614.15,-21.10,-8.24,NaN,NaN

In [761]:
#Merge EV,PP,SH tables together
full_player_totals = pd.merge(skater_EV_PP, skater_SH_totals, how="left", on=["Player", "Season"])
full_player_totals.head(10)

#full_player_totals = pd.concat([skater_EV_PP,skater_SH_totals], axis='columns')
#full_player_totals.head(20)

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,Team,Position_SH,GP_SH,TOI_SH,GAA_SH
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,FLA,D,65.0,134.87,-13.441789
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,FLA,D,33.0,86.47,2.418211
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,FLA,D,61.0,166.83,-1.871789
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN,NaN,NaN,NaN
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN,NaN,NaN,NaN
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN,NaN,NaN,NaN
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [762]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Team','Position_SH','GP_SH'])
full_player_totals.head(10)

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN

In [764]:
full_player_totals.loc[full_player_totals.Player=='Andrew Cogliano']

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH
159,Andrew Cogliano,19-20,DAL,C,68,724.87,0.12,1.22,NaN,NaN,98.72,-2.301789
160,Andrew Cogliano,20-21,DAL,C,54,655.92,-9.46,2.55,NaN,NaN,77.60,2.518211
161,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,NaN,NaN,25.40,7.408211
162,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,NaN,NaN,104.72,1.308211
163,Andrew Cogliano,21-22,S.J,C,56,614.15,-21.10,-8.24,NaN,NaN,25.40,7.408211
164,Andrew Cogliano,21-22,S.J,C,56,614.15,-21.10,-8.24,NaN,NaN,104.72,1.308211

In [612]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Season"])
full_player_totals.head()

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,...,GAA_SH,Team,Position,GP,TOI,G,A1,A2,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,...,NaN,N.J,L,9,70.70,1,0,1,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,...,-13.441789,FLA,D,67,1537.92,5,23,13,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,...,2.418211,FLA,D,35,878.18,11,5,6,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,...,-1.871789,FLA,D,61,1519.70,15,13,29,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,...,NaN,ARI,D,24,300.83,0,1,0,1,-13.109925

In [613]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Team','Position','GP','G','A1','A2'])
full_player_totals.head(10)

,Player,Season,Team_x,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,70.70,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,300.83,1,-13.109925
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN,665.12,13,-1.109925
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN,594.65,16,1.890075
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN,886.05,22,7.890075
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN,54.97,3,-19.633276
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN,117.45,5,-17.633276

In [614]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Team_x':'Team','Position_EV':'Position','GP_EV':'GP','TOI':'TOI_tot'})
full_player_totals

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,70.70,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,300.83,1,-13.109925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,NaN,NaN,214.07,-11.811789,1428.48,14,-0.109925
3301,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,NaN,NaN,145.72,-6.731789,1006.27,10,-4.109925
3302,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,NaN,NaN,123.65,3.828211,1348.45,14,-0.109925
3303,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,NaN,NaN,147.87,-13.281789,951.77,19,-3.633276
3304,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,828.20,18,-4.633276

In [615]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
full_player_totals

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,0.00,0.000000,0.00,0.000000,300.83,1,-13.109925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,0.00,0.000000,214.07,-11.811789,1428.48,14,-0.109925
3301,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,0.00,0.000000,145.72,-6.731789,1006.27,10,-4.109925
3302,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,0.00,0.000000,123.65,3.828211,1348.45,14,-0.109925
3303,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,0.00,0.000000,147.87,-13.281789,951.77,19,-3.633276
3304,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,828.20,18,-4.633276

In [616]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Goalie%20Stats.csv')
#print(goalie_stats_raw)
goalie_stats_raw.head()

,Player,Season,Team,Position,GP,TOI,GA,SA,FA,xGA,Sv%,FSv%,xFSv%,dFSv%,GSAA,GSAx
0,Aaron Dell,19-20,S.J,G,33,1834.23,91.06,994.37,1352.10,92.16,90.84,93.27,93.18,0.08,-1.20,1.10
1,Aaron Dell,20-21,N.J,G,7,319.17,21.45,153.29,210.23,11.91,86.01,89.80,94.33,-4.54,-7.35,-9.54
2,Aaron Dell,21-22,BUF,G,12,565.38,37.95,356.65,467.99,30.60,89.36,91.89,93.46,-1.57,-4.85,-7.35
3,Adam Huska,21-22,NYR,G,1,59.70,7.53,42.56,55.97,3.50,82.31,86.55,93.75,-7.20,-3.58,-4.03
4,Adam Werner,19-20,COL,G,2,87.83,4.85,54.22,65.83,3.76,91.05,92.63,94.29,-1.66,0.05,-1.09

In [617]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
goalie_stats.head()

        Player Season Team Position  GP      TOI     GA    Sv%  GSAx
0   Aaron Dell  19-20  S.J        G  33  1834.23  91.06  90.84  1.10
1   Aaron Dell  20-21  N.J        G   7   319.17  21.45  86.01 -9.54
2   Aaron Dell  21-22  BUF        G  12   565.38  37.95  89.36 -7.35
3   Adam Huska  21-22  NYR        G   1    59.70   7.53  82.31 -4.03
4  Adam Werner  19-20  COL        G   2    87.83   4.85  91.05 -1.09

In [618]:
#Add Active / Inactive Column to both data tables
full_player_totals['A/I'] = 'Active'
full_player_totals

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-20.633276,Active
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075,Active
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075,Active
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075,Active
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,0.00,0.000000,0.00,0.000000,300.83,1,-13.109925,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,0.00,0.000000,214.07,-11.811789,1428.48,14,-0.109925,Active
3301,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,0.00,0.000000,145.72,-6.731789,1006.27,10,-4.109925,Active
3302,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,0.00,0.000000,123.65,3.828211,1348.45,14,-0.109925,Active
3303,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,0.00,0.000000,147.87,-13.281789,951.77,19,-3.633276,Active
3304,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,828.20,18,-4.633276,Active

In [619]:
full_player_totals = full_player_totals.drop_duplicates()
full_player_totals

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,0.00,0.000000,0.00,0.000000,70.70,2,-20.633276,Active
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075,Active
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075,Active
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075,Active
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,0.00,0.000000,0.00,0.000000,300.83,1,-13.109925,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3300,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,0.00,0.000000,214.07,-11.811789,1428.48,14,-0.109925,Active
3301,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,0.00,0.000000,145.72,-6.731789,1006.27,10,-4.109925,Active
3302,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,0.00,0.000000,123.65,3.828211,1348.45,14,-0.109925,Active
3303,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,0.00,0.000000,147.87,-13.281789,951.77,19,-3.633276,Active
3304,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102,81.28,-4.731789,828.20,18,-4.633276,Active

In [620]:
#Make a Data Table for each team
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters.head(20)

,Player,Season,Team,Position,GP,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,TOI_SH,GAA_SH,TOI_tot,Points,PAA,A/I
109,Alex Newhook,20-21,COL,C,6,74.70,5.32,2.29,0.00,0.000000,0.00,0.000000,82.07,3,-19.633276,Active
110,Alex Newhook,21-22,COL,C,71,842.32,12.63,0.07,97.58,-3.652102,0.00,0.000000,963.07,33,10.366724,Active
160,Andre Burakovsky,19-20,COL,L,58,707.17,14.44,-0.97,136.92,-1.782102,0.00,0.000000,881.17,45,22.366724,Active
161,Andre Burakovsky,20-21,COL,L,53,663.87,4.67,10.56,113.35,5.947898,0.00,0.000000,799.88,44,21.366724,Active
162,Andre Burakovsky,21-22,COL,L,80,1102.27,11.81,5.66,157.03,5.837898,0.00,0.000000,1301.25,61,38.366724,Active
187,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,0.00,0.000000,25.40,7.408211,198.30,1,-21.633276,Active
188,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,0.00,0.000000,25.40,7.408211,739.27,15,-7.633276,Active
189,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,0.00,0.000000,104.72,1.308211,198.30,1,-21.633276,Active
190,Andrew Cogliano,21-22,COL,C,18,167.67,-1.96,0.02,0.00,0.000000,104.72,1.308211,739.27,15,-7.633276,Active
280,Artturi Lehkonen,21-22,COL,L,16,201.48,1.10,1.50,35.90,-9.252102,124.92,-6.861789,263.03,9,-13.633276,Active
281,Artturi Lehkonen,21-22,COL,L,16,201.48,1.10,1.50,35.90,-9.252102,124.92,-6.861789,852.43,29,6.366724,Active
282,Artturi Lehkonen,21-22,COL,L,16,201.48,1.10,1.50,39.25,-7.562102,124.92,-6.861789,263.03,9,-13.633276,Active
283,Artturi Lehkonen,21-22,COL,L,16,201.48,1.10,1.50,39.25,-7.562102,124.92,-6.861789,852.43,29,6.366724,Active
363,Bowen Byram,20-21,COL,D,19,306.88,2.14,2.01,0.00,0.000000,0.00,0.000000,332.72,2,-12.109925,Active
364,Bowen Byram,21-22,COL,D,30,506.55,6.23,1.29,29.42,-11.352102,0.00,0.000000,564.23,17,2.890075,Active
415,Brandon Saad,20-21,COL,L,44,522.98,0.42,6.30,73.55,-4.952102,0.00,0.000000,619.50,24,1.366724,Active
523,Cale Makar,19-20,COL,D,57,928.00,21.64,4.96,210.18,12.397898,0.00,0.000000,1197.60,50,35.890075,Active
524,Cale Makar,20-21,COL,D,44,802.93,20.26,14.00,184.18,17.717898,39.60,8.488211,1069.57,44,29.890075,Active
525,Cale Makar,21-22,COL,D,77,1464.45,40.27,18.42,291.50,36.837898,105.60,1.898211,1976.43,86,71.890075,Active
540,Calle Rosen,19-20,COL,D,8,104.72,1.78,0.34,0.00,0.000000,0.00,0.000000,110.57,2,-12.109925,Active

In [ ]:
full_player_totals.head(30)

In [ ]:
#Inspect Data
full_player_totals.head(20)

In [ ]:
#skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
#print(skater_PP_rates_raw)
#skater_PP_rates_raw.head()

**Stuff to Do Next - (have no more time, so quick thoughts that I have not checked, like the next one would be so easy to check if I had another 5 mins)**

In [ ]:
#Are these right? duplicate naming issues for "TOI_SH" and no PP?
full_player_totals.columns

Need to create a dataframe for each team. Use the loc function on player table first to get all the players for one team. Then do the same thing with goalies. We will probably need to keep them seperate tables since they do not have similar variables

Not necessary at this stage but eventually we are going to want to consolidate these code blocks. Ex, the code to create all of the team rosters should be in one block with no output. For now you can do 64 blocks (32 for skaters, 32 for goalies) and show output so we can see if there are any errors, but once we get past that stage we will comment out the output and put it all in one block. If we ever need to go back in check you just take out the '#' and run the code to see the output.

Need to add a column for 'status'. I am thinking the two states we use are 'active' and 'inactive' for the starting lineups. Will be 18 skaters and 1 goalie when we update daily but doesnt matter now. Should put this in before all of the loc functions so it shows up for the team dataframes. Note: will have to be added to both the full_player_totals dataframe and the goalie_stats dataframe.

Add folder in github for the csv's, update github links in code to pull data