<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [329]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [330]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
#print(skater_EV_totals_raw)
#skater_EV_totals_raw.head()

In [331]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [332]:
#Add columns for G+/-,xG+/-
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [333]:
skater_EV_totals = skater_EV_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA'])
skater_EV_totals

                 Player Season Team Position  GP      TOI   G+/-  xG+/-
0            A.J. Greer  21-22  N.J        L   9    70.45   0.06   0.94
1          Aaron Ekblad  19-20  FLA        D  67  1220.55  16.49   1.62
2          Aaron Ekblad  20-21  FLA        D  35   603.07   4.76   4.73
3          Aaron Ekblad  21-22  FLA        D  61  1047.80  28.16  17.57
4            Aaron Ness  19-20  ARI        D  24   289.15  -0.29   0.37
...                 ...    ...  ...      ...  ..      ...    ...    ...
2650        Zdeno Chara  19-20  BOS        D  68  1166.42  22.43   0.84
2651        Zdeno Chara  20-21  WSH        D  55   813.33   2.03   1.96
2652        Zdeno Chara  21-22  NYI        D  72  1191.52   5.92  -7.98
2653  Zemgus Girgensons  19-20  BUF        C  69   783.73  -4.34  -0.47
2654  Zemgus Girgensons  21-22  BUF      C/L  56   668.30  -5.14  -3.64

[2655 rows x 8 columns]

In [334]:
#skater_EV_totals = skater_EV_totals.rename(columns = {'Season':'Season_EV','Team':'Team_EV','Position':'Position_EV','GP':'GP_EV','TOI':'TOI_EV','G+/-':'G_EV','xG+/-':'xG_EV'})
#skater_EV_totals

In [335]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [336]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [337]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [338]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [339]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
#skater_PP_totals

In [340]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA','G+/-','xG+/-','xGAA'])
skater_PP_totals

                 Player Season Team Position  GP     TOI        GAA
0          Aaron Ekblad  19-20  FLA        D  67   95.90  -2.792102
1          Aaron Ekblad  20-21  FLA        D  35  132.75   7.497898
2          Aaron Ekblad  21-22  FLA        D  61  214.78  20.347898
3          Adam Boqvist  19-20  CHI        D  41   87.02  -5.822102
4          Adam Boqvist  20-21  CHI        D  35  118.65  -1.712102
...                 ...    ...  ...      ...  ..     ...        ...
1303      Zach Werenski  19-20  CBJ        D  63  171.17   1.127898
1304      Zach Werenski  20-21  CBJ        D  33   73.60  -7.242102
1305      Zach Werenski  21-22  CBJ        D  64  215.48   9.557898
1306       Zack Kassian  19-20  EDM        R  58   23.18 -12.042102
1307  Zemgus Girgensons  21-22  BUF      C/L  55   54.37  -5.272102

[1308 rows x 7 columns]

In [341]:
#skater_PP_totals = skater_PP_totals.rename(columns = {'Season':'Season_PP','Team':'Team_PP','Position':'Position_PP','GP':'GP_PP','TOI':'TOI_PP','GAA':'GAA_PP'})
#skater_PP_totals

In [342]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [343]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [344]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [345]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [346]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [347]:
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA','GF%','GF','GA','G+/-'])
skater_SH_totals

                 Player Season Team Position  GP     TOI        GAA
0          Aaron Ekblad  19-20  FLA        D  65  134.87 -13.441789
1          Aaron Ekblad  20-21  FLA        D  33   86.47   2.418211
2          Aaron Ekblad  21-22  FLA        D  61  166.83  -1.871789
3              Adam Fox  20-21  NYR        D  54  139.75  -0.991789
4              Adam Fox  21-22  NYR        D  78  163.50  -2.031789
...                 ...    ...  ...      ...  ..     ...        ...
1303        Zdeno Chara  19-20  BOS        D  67  214.07 -11.811789
1304        Zdeno Chara  20-21  WSH        D  55  145.72  -6.731789
1305        Zdeno Chara  21-22  NYI        D  68  123.65   3.828211
1306  Zemgus Girgensons  19-20  BUF        C  68  147.87 -13.281789
1307  Zemgus Girgensons  21-22  BUF      C/L  54   81.28  -4.731789

[1308 rows x 7 columns]

In [348]:
#skater_SH_totals = skater_SH_totals.rename(columns = {'Season':'Season_SH','Team':'Team_SH','Position':'Position_SH','GP':'GP_SH','TOI':'TOI_SH','GAA':'GAA_SH'})
#skater_SH_totals

In [349]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [350]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
#skater_box_totals.head()

In [351]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [352]:
#Get Mean of Points
Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [353]:
#Get PAA
#skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

#Get PAA for Fwds and Dmen and combine

forwards_table['PAA'] = forwards_table['Points'] - Forwards_mean
forwards_table.head(10)

defensemen_table['PAA'] = defensemen_table['Points'] - Defensemen_mean
defensemen_table.head(10)


#Add dataframes back together and sort again

concat_frames = [forwards_table, defensemen_table]
skater_box_totals = pd.concat(concat_frames)
skater_box_totals = skater_box_totals.sort_index()
#skater_box_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [354]:
#Combine skater EV and PP stats
combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="outer", on=['Player','Season'])
combined_player_df.head(20)

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,Team_y,Position_y,GP_y,TOI_y,GAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,FLA,D,67.0,95.90,-2.792102
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,FLA,D,35.0,132.75,7.497898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,FLA,D,61.0,214.78,20.347898
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,CHI,D,41.0,87.02,-5.822102
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,CHI,D,35.0,118.65,-1.712102
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,CBJ,D,50.0,98.63,-4.262102
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN,NaN
10,Adam Brooks,21-22,VGK,C,7,74.08,3.13,1.11,NaN,NaN,NaN,NaN,NaN
11,Adam Brooks,21-22,WPG,C,14,100.52,-0.02,-2.27,NaN,NaN,NaN,NaN,NaN
12,Adam Erne,19-20,DET,L,56,599.22,-21.29,-6.36,DET,L,55.0,48.92,-13.162102
13,Adam Erne,20-21,DET,L,45,537.17,-1.43,-3.71,DET,L,44.0,67.95,-6.412102
14,Adam Erne,21-22,DET,L,79,957.05,-16.75,-8.40,DET,L,77.0,72.93,-11.212102
15,Adam Fox,19-20,NYR,D,70,1118.08,20.85,5.07,NYR,D,69.0,136.88,2.307898
16,Adam Fox,20-21,NYR,D,55,954.22,12.70,6.79,NYR,D,52.0,197.82,18.127898
17,Adam Fox,21-22,NYR,D,78,1366.42,10.46,1.34,NYR,D,77.0,228.88,33.457898
18,Adam Gaudette,19-20,VAN,C,59,624.35,-4.54,-3.64,VAN,C,58.0,89.62,4.647898
19,Adam Gaudette,20-21,CHI,C,7,79.17,-1.99,-2.13,VAN,C,33.0,35.90,-11.252102

In [355]:
skater_EV_PP = combined_player_df.drop(columns = ['Team_y','Position_y','GP_y'])
skater_EV_PP

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,TOI_y,GAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2713,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,NaN,NaN
2714,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,NaN,NaN
2715,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,NaN,NaN
2716,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,NaN,NaN
2717,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,54.37,-5.272102

In [356]:
#Merge EV,PP,SH tables together
full_player_totals = pd.merge(skater_EV_PP, skater_SH_totals, how="left", on=["Player", "Season"])
full_player_totals.head(10)

#full_player_totals = pd.concat([skater_EV_PP,skater_SH_totals], axis='columns')
#full_player_totals.head(20)

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,TOI_y,GAA_x,Team,Position,GP,TOI,GAA_y
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,FLA,D,65.0,134.87,-13.441789
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,FLA,D,33.0,86.47,2.418211
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,FLA,D,61.0,166.83,-1.871789
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN,NaN,NaN,NaN
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN,NaN,NaN,NaN
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN,NaN,NaN,NaN
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [357]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Team','Position','GP'])
full_player_totals.head(10)

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,TOI_y,GAA_x,TOI,GAA_y
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN

In [358]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Season"])
full_player_totals.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'TOI_x'} in the result is deprecated and will raise a MergeError in a future version.

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,TOI_y,GAA_x,...,GAA_y,Team,Position,GP,TOI_y,G,A1,A2,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,...,NaN,N.J,L,9,70.70,1,0,1,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,...,-13.441789,FLA,D,67,1537.92,5,23,13,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,...,2.418211,FLA,D,35,878.18,11,5,6,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,...,-1.871789,FLA,D,61,1519.70,15,13,29,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,...,NaN,ARI,D,24,300.83,0,1,0,1,-13.109925

In [359]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Team','Position','GP','G','A1','A2'])
full_player_totals.head(10)

,Player,Season,Team_x,Position_x,GP_x,TOI_x,G+/-,xG+/-,TOI_y,GAA_x,TOI_x,GAA_y,TOI_y,Points,PAA
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,NaN,NaN,NaN,NaN,70.70,2,-20.633276
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,95.90,-2.792102,134.87,-13.441789,1537.92,41,26.890075
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,132.75,7.497898,86.47,2.418211,878.18,22,7.890075
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,214.78,20.347898,166.83,-1.871789,1519.70,57,42.890075
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,300.83,1,-13.109925
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,87.02,-5.822102,NaN,NaN,665.12,13,-1.109925
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,118.65,-1.712102,NaN,NaN,594.65,16,1.890075
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,98.63,-4.262102,NaN,NaN,886.05,22,7.890075
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,NaN,NaN,NaN,NaN,54.97,3,-19.633276
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,NaN,NaN,NaN,NaN,117.45,5,-17.633276

In [ ]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Team_x':'Team','Position_x':'Position','GP_x':'GP','TOI_x':'TOI_EV','G+/-_x':'G_EV','xG+/-':'xG_EV','TOI_x':'TOI_PP','GAA_x':'GAA_PP','TOI_x':'TOI_SH','GAA_y':'GAA_SH','TOI_y':'TOI'})
#full_player_totals

In [ ]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
#full_player_totals

In [ ]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Goalie%20Stats.csv')
#print(goalie_stats_raw)
#goalie_stats_raw.head()

In [ ]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
#goalie_stats.head()

In [ ]:
#Add Active / Inactive Column to both data tables
full_player_totals['A/I'] = 'Active'
#full_player_totals

In [ ]:
#Make a Data Table for each team
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters

In [ ]:
full_player_totals.head(30)

In [ ]:
#Inspect Data
full_player_totals.head(20)

In [ ]:
#skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
#print(skater_PP_rates_raw)
#skater_PP_rates_raw.head()

**Stuff to Do Next - (have no more time, so quick thoughts that I have not checked, like the next one would be so easy to check if I had another 5 mins)**

In [ ]:
#Are these right? duplicate naming issues for "TOI_SH" and no PP?
full_player_totals.columns

Need to create a dataframe for each team. Use the loc function on player table first to get all the players for one team. Then do the same thing with goalies. We will probably need to keep them seperate tables since they do not have similar variables

Not necessary at this stage but eventually we are going to want to consolidate these code blocks. Ex, the code to create all of the team rosters should be in one block with no output. For now you can do 64 blocks (32 for skaters, 32 for goalies) and show output so we can see if there are any errors, but once we get past that stage we will comment out the output and put it all in one block. If we ever need to go back in check you just take out the '#' and run the code to see the output.

Need to add a column for 'status'. I am thinking the two states we use are 'active' and 'inactive' for the starting lineups. Will be 18 skaters and 1 goalie when we update daily but doesnt matter now. Should put this in before all of the loc functions so it shows up for the team dataframes. Note: will have to be added to both the full_player_totals dataframe and the goalie_stats dataframe.

Add folder in github for the csv's, update github links in code to pull data