<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [171]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [172]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
#print(skater_EV_totals_raw)
#skater_EV_totals_raw.head()

In [173]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [174]:
#Add columns for G+/-,xG+/-
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [175]:
skater_EV_totals = skater_EV_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA'])
#skater_EV_totals

In [176]:
skater_EV_totals = skater_EV_totals.rename(columns = {'Season':'Season_EV','Team':'Team_EV','Position':'Position_EV','GP':'GP_EV','TOI':'TOI_EV','G+/-':'G_EV','xG+/-':'xG_EV'})
#skater_EV_totals

In [177]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [178]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [179]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [180]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [181]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
#skater_PP_totals

In [182]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA','G+/-','xG+/-','xGAA'])
#skater_PP_totals

In [183]:
skater_PP_totals = skater_PP_totals.rename(columns = {'Season':'Season_PP','Team':'Team_PP','Position':'Position_PP','GP':'GP_PP','TOI':'TOI_PP','GAA':'GAA_PP'})
#skater_PP_totals

In [184]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [185]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [186]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [187]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [188]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [189]:
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA','GF%','GF','GA','G+/-'])
#skater_SH_totals

In [190]:
skater_SH_totals = skater_SH_totals.rename(columns = {'Season':'Season_SH','Team':'Team_SH','Position':'Position_SH','GP':'GP_SH','TOI':'TOI_SH','GAA':'GAA_SH'})
#skater_SH_totals

In [191]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [192]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
#skater_box_totals.head()

In [193]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [194]:
#Get Mean of Points
Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [195]:
#Get PAA
#skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

#Get PAA for Fwds and Dmen and combine

forwards_table['PAA'] = forwards_table['Points'] - Forwards_mean
forwards_table.head(10)

defensemen_table['PAA'] = defensemen_table['Points'] - Defensemen_mean
defensemen_table.head(10)


#Add dataframes back together and sort again

concat_frames = [forwards_table, defensemen_table]
skater_box_totals = pd.concat(concat_frames)
skater_box_totals = skater_box_totals.sort_index()
#skater_box_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [197]:
#Here's where problem is occuring when we combine the tables we're ending up with for example ekblad stats being repeated numerous times
#combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="left", on=["Player", "Player"])
#combined_player_df = skater_EV_totals.merge(skater_PP_totals, on = 'Player', how = 'left')
#combined_player_df.head(20)

combined_player_df = pd.concat([skater_EV_totals,skater_PP_totals], axis='columns', sort=False)
combined_player_df.head(20)

,Player,Season_EV,Team_EV,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,Season_PP,Team_PP,Position_PP,GP_PP,TOI_PP,GAA_PP
0,A.J. Greer,21-22,N.J,L,9.0,70.45,0.06,0.94,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Ekblad,19-20,FLA,D,67.0,1220.55,16.49,1.62,NaN,NaN,NaN,NaN,NaN,NaN
2,Aaron Ekblad,20-21,FLA,D,35.0,603.07,4.76,4.73,NaN,NaN,NaN,NaN,NaN,NaN
3,Aaron Ekblad,21-22,FLA,D,61.0,1047.80,28.16,17.57,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaron Ness,19-20,ARI,D,24.0,289.15,-0.29,0.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Adam Boqvist,19-20,CHI,D,41.0,549.68,5.32,-1.77,NaN,NaN,NaN,NaN,NaN,NaN
6,Adam Boqvist,20-21,CHI,D,35.0,450.22,-2.41,-2.29,NaN,NaN,NaN,NaN,NaN,NaN
7,Adam Boqvist,21-22,CBJ,D,52.0,748.40,-4.40,-7.33,NaN,NaN,NaN,NaN,NaN,NaN
8,Adam Brooks,19-20,TOR,C,7.0,51.60,1.95,0.35,NaN,NaN,NaN,NaN,NaN,NaN
9,Adam Brooks,20-21,TOR,C,11.0,109.72,3.13,0.49,NaN,NaN,NaN,NaN,NaN,NaN
10,Adam Brooks,21-22,VGK,C,7.0,74.08,3.13,1.11,NaN,NaN,NaN,NaN,NaN,NaN
11,Adam Brooks,21-22,WPG,C,14.0,100.52,-0.02,-2.27,NaN,NaN,NaN,NaN,NaN,NaN
12,Adam Erne,19-20,DET,L,56.0,599.22,-21.29,-6.36,NaN,NaN,NaN,NaN,NaN,NaN
13,Adam Erne,20-21,DET,L,45.0,537.17,-1.43,-3.71,NaN,NaN,NaN,NaN,NaN,NaN
14,Adam Erne,21-22,DET,L,79.0,957.05,-16.75,-8.40,NaN,NaN,NaN,NaN,NaN,NaN
15,Adam Fox,19-20,NYR,D,70.0,1118.08,20.85,5.07,NaN,NaN,NaN,NaN,NaN,NaN
16,Adam Fox,20-21,NYR,D,55.0,954.22,12.70,6.79,NaN,NaN,NaN,NaN,NaN,NaN
17,Adam Fox,21-22,NYR,D,78.0,1366.42,10.46,1.34,NaN,NaN,NaN,NaN,NaN,NaN
18,Adam Gaudette,19-20,VAN,C,59.0,624.35,-4.54,-3.64,NaN,NaN,NaN,NaN,NaN,NaN
19,Adam Gaudette,20-21,CHI,C,7.0,79.17,-1.99,-2.13,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
skater_EV_PP = combined_player_df.drop(columns = ['Player_PP','Season_PP','Team_PP','Position_PP','GP_PP'])
skater_EV_PP

,Player_EV,Season_EV,Team_EV,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,95.90,-2.792102
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,132.75,7.497898
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,214.78,20.347898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,87.02,-5.822102
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,118.65,-1.712102
...,...,...,...,...,...,...,...,...,...,...
2650,Zdeno Chara,19-20,BOS,D,68,1166.42,22.43,0.84,NaN,NaN
2651,Zdeno Chara,20-21,WSH,D,55,813.33,2.03,1.96,NaN,NaN
2652,Zdeno Chara,21-22,NYI,D,72,1191.52,5.92,-7.98,NaN,NaN
2653,Zemgus Girgensons,19-20,BUF,C,69,783.73,-4.34,-0.47,NaN,NaN
2654,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,-5.14,-3.64,NaN,NaN

In [65]:
#Merge EV,PP,SH tables together
#full_player_totals = pd.merge(skater_EV_PP, skater_SH_totals, how="left", on=["Player_EV", "Player_SH"])
#full_player_totals.head(10)

full_player_totals = pd.concat([skater_EV_PP,skater_SH_totals], axis='columns')
full_player_totals.head(20)

,Player_EV,Season_EV,Team_EV,Position_EV,GP_EV,TOI_EV,G_EV,xG_EV,TOI_PP,GAA_PP,Player_SH,Season_SH,Team_SH,Position_SH,GP_SH,TOI_SH,GAA_SH
0,A.J. Greer,21-22,N.J,L,9,70.45,0.06,0.94,95.90,-2.792102,Aaron Ekblad,19-20,FLA,D,65.0,134.87,-13.441789
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,16.49,1.62,132.75,7.497898,Aaron Ekblad,20-21,FLA,D,33.0,86.47,2.418211
2,Aaron Ekblad,20-21,FLA,D,35,603.07,4.76,4.73,214.78,20.347898,Aaron Ekblad,21-22,FLA,D,61.0,166.83,-1.871789
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,28.16,17.57,87.02,-5.822102,Adam Fox,20-21,NYR,D,54.0,139.75,-0.991789
4,Aaron Ness,19-20,ARI,D,24,289.15,-0.29,0.37,118.65,-1.712102,Adam Fox,21-22,NYR,D,78.0,163.50,-2.031789
5,Adam Boqvist,19-20,CHI,D,41,549.68,5.32,-1.77,98.63,-4.262102,Adam Henrique,19-20,ANA,C,70.0,38.63,7.488211
6,Adam Boqvist,20-21,CHI,D,35,450.22,-2.41,-2.29,48.92,-13.162102,Adam Henrique,20-21,ANA,C,44.0,40.68,2.038211
7,Adam Boqvist,21-22,CBJ,D,52,748.40,-4.40,-7.33,67.95,-6.412102,Adam Larsson,19-20,EDM,D,47.0,78.42,5.378211
8,Adam Brooks,19-20,TOR,C,7,51.60,1.95,0.35,72.93,-11.212102,Adam Larsson,20-21,EDM,D,56.0,128.07,-3.661789
9,Adam Brooks,20-21,TOR,C,11,109.72,3.13,0.49,136.88,2.307898,Adam Larsson,21-22,SEA,D,79.0,207.25,-18.471789
10,Adam Brooks,21-22,VGK,C,7,74.08,3.13,1.11,197.82,18.127898,Adam Lowry,19-20,WPG,L,48.0,107.42,-1.611789
11,Adam Brooks,21-22,WPG,C,14,100.52,-0.02,-2.27,228.88,33.457898,Adam Lowry,20-21,WPG,L,52.0,123.95,-0.451789
12,Adam Erne,19-20,DET,L,56,599.22,-21.29,-6.36,89.62,4.647898,Adam Lowry,21-22,WPG,C/L,76.0,181.32,-14.301789
13,Adam Erne,20-21,DET,L,45,537.17,-1.43,-3.71,35.90,-11.252102,Adam Pelech,19-20,NYI,D,37.0,103.88,5.598211
14,Adam Erne,21-22,DET,L,79,957.05,-16.75,-8.40,57.45,-12.292102,Adam Pelech,20-21,NYI,D,54.0,122.77,-5.171789
15,Adam Fox,19-20,NYR,D,70,1118.08,20.85,5.07,161.75,0.117898,Adam Pelech,21-22,NYI,D,74.0,175.63,-4.421789
16,Adam Fox,20-21,NYR,D,55,954.22,12.70,6.79,79.65,-9.102102,Adrian Kempe,19-20,L.A,L,69.0,62.85,9.448211
17,Adam Fox,21-22,NYR,D,78,1366.42,10.46,1.34,120.70,7.137898,Adrian Kempe,20-21,L.A,L,56.0,73.85,6.558211
18,Adam Gaudette,19-20,VAN,C,59,624.35,-4.54,-3.64,41.37,-10.432102,Adrian Kempe,21-22,L.A,C/L,78.0,112.87,-4.611789
19,Adam Gaudette,20-21,CHI,C,7,79.17,-1.99,-2.13,72.17,-5.632102,Alec Martinez,19-20,L.A,D,41.0,73.70,-1.181789

In [ ]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Player_SH','Season_SH','Team_SH','Position_SH','GP_SH','GF%','GF','GA','G+/-'])
#full_player_totals.head(10)

In [ ]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Player"])
full_player_totals.head(30)

In [ ]:
combined_player_df = combined_player_df.drop_duplicates(subset=['Player','GP_x'])
combined_player_df.head(20)

In [ ]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Season','Team','Position','GP','G','A1','A2'])
#full_player_totals.head(10)

In [ ]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Season_x':'Season','Team_x':'Team','Position_x':'Position','GP_x':'GP','TOI_x':'TOI_EV','G+/-_x':'G_EV','xG+/-':'xG_EV','TOI_x':'TOI_PP','GAA_x':'GAA_PP','TOI_x':'TOI_SH','GAA_y':'GAA_SH','TOI_y':'TOI'})
#full_player_totals

In [ ]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
#full_player_totals

In [ ]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Goalie%20Stats.csv')
#print(goalie_stats_raw)
#goalie_stats_raw.head()

In [ ]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
#goalie_stats.head()

In [ ]:
#Add Active / Inactive Column to both data tables
full_player_totals['A/I'] = 'Active'
#full_player_totals

In [ ]:
#Make a Data Table for each team
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters

In [ ]:
full_player_totals.head(30)

In [ ]:
#Inspect Data
full_player_totals.head(20)

In [ ]:
#skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
#print(skater_PP_rates_raw)
#skater_PP_rates_raw.head()

**Stuff to Do Next - (have no more time, so quick thoughts that I have not checked, like the next one would be so easy to check if I had another 5 mins)**

In [ ]:
#Are these right? duplicate naming issues for "TOI_SH" and no PP?
full_player_totals.columns

Need to create a dataframe for each team. Use the loc function on player table first to get all the players for one team. Then do the same thing with goalies. We will probably need to keep them seperate tables since they do not have similar variables

Not necessary at this stage but eventually we are going to want to consolidate these code blocks. Ex, the code to create all of the team rosters should be in one block with no output. For now you can do 64 blocks (32 for skaters, 32 for goalies) and show output so we can see if there are any errors, but once we get past that stage we will comment out the output and put it all in one block. If we ever need to go back in check you just take out the '#' and run the code to see the output.

Need to add a column for 'status'. I am thinking the two states we use are 'active' and 'inactive' for the starting lineups. Will be 18 skaters and 1 goalie when we update daily but doesnt matter now. Should put this in before all of the loc functions so it shows up for the team dataframes. Note: will have to be added to both the full_player_totals dataframe and the goalie_stats dataframe.

Add folder in github for the csv's, update github links in code to pull data