<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [34]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
#print(skater_EV_totals_raw)
#skater_EV_totals_raw.head()

In [36]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_EV_totals

In [37]:
#Add columns for G+/-,xG+/-
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
#skater_EV_totals

In [38]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
#print(skater_PP_totals_raw)
#skater_PP_totals_raw.head()

In [39]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_PP_totals

In [40]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
#skater_PP_totals

In [41]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [42]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
skater_PP_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA,G+/-,xG+/-,GAA,xGAA
0,Aaron Ekblad,19-20,FLA,D,67,95.90,92.22,93.16,10.31,0.87,9.81,0.72,9.44,9.09,-2.792102,-2.726284
1,Aaron Ekblad,20-21,FLA,D,35,132.75,91.82,92.26,21.66,1.93,18.23,1.53,19.73,16.70,7.497898,4.883716
2,Aaron Ekblad,21-22,FLA,D,61,214.78,92.51,91.76,35.45,2.87,29.39,2.64,32.58,26.75,20.347898,14.933716
3,Adam Boqvist,19-20,CHI,D,41,87.02,88.20,90.73,7.40,0.99,8.91,0.91,6.41,8.00,-5.822102,-3.816284
4,Adam Boqvist,20-21,CHI,D,35,118.65,82.03,77.83,13.47,2.95,11.76,3.35,10.52,8.41,-1.712102,-3.406284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Zach Werenski,19-20,CBJ,D,63,171.17,80.98,87.14,17.46,4.10,17.75,2.62,13.36,15.13,1.127898,3.313716
1304,Zach Werenski,20-21,CBJ,D,33,73.60,100.00,85.02,4.99,0.00,5.56,0.98,4.99,4.58,-7.242102,-7.236284
1305,Zach Werenski,21-22,CBJ,D,64,215.48,87.27,81.96,25.51,3.72,24.45,5.38,21.79,19.07,9.557898,7.253716
1306,Zack Kassian,19-20,EDM,R,58,23.18,54.38,96.83,1.18,0.99,1.22,0.04,0.19,1.18,-12.042102,-10.636284
1307,Zemgus Girgensons,21-22,BUF,C/L,55,54.37,100.00,92.76,6.96,0.00,4.10,0.32,6.96,3.78,-5.272102,-8.036284

In [43]:
#Drop columns
skater_PP_totals = skater_PP_totals.drop(columns = ['GF%','xGF%','GF','GA','xGF','xGA','G+/-','xG+/-','xGAA'])
skater_PP_totals

                 Player Season Team Position  GP     TOI        GAA
0          Aaron Ekblad  19-20  FLA        D  67   95.90  -2.792102
1          Aaron Ekblad  20-21  FLA        D  35  132.75   7.497898
2          Aaron Ekblad  21-22  FLA        D  61  214.78  20.347898
3          Adam Boqvist  19-20  CHI        D  41   87.02  -5.822102
4          Adam Boqvist  20-21  CHI        D  35  118.65  -1.712102
...                 ...    ...  ...      ...  ..     ...        ...
1303      Zach Werenski  19-20  CBJ        D  63  171.17   1.127898
1304      Zach Werenski  20-21  CBJ        D  33   73.60  -7.242102
1305      Zach Werenski  21-22  CBJ        D  64  215.48   9.557898
1306       Zack Kassian  19-20  EDM        R  58   23.18 -12.042102
1307  Zemgus Girgensons  21-22  BUF      C/L  55   54.37  -5.272102

[1308 rows x 7 columns]

In [44]:
skater_PP_totals = skater_PP_totals.rename(columns = {'Season':'Season_PP','Team':'Team_PP','Position':'Position_PP','GP':'GP_PP','TOI':'TOI_PP','GAA':'GAA_PP'})
skater_PP_totals

,Player,Season_PP,Team_PP,Position_PP,GP_PP,TOI_PP,GAA_PP
0,Aaron Ekblad,19-20,FLA,D,67,95.90,-2.792102
1,Aaron Ekblad,20-21,FLA,D,35,132.75,7.497898
2,Aaron Ekblad,21-22,FLA,D,61,214.78,20.347898
3,Adam Boqvist,19-20,CHI,D,41,87.02,-5.822102
4,Adam Boqvist,20-21,CHI,D,35,118.65,-1.712102
...,...,...,...,...,...,...,...
1303,Zach Werenski,19-20,CBJ,D,63,171.17,1.127898
1304,Zach Werenski,20-21,CBJ,D,33,73.60,-7.242102
1305,Zach Werenski,21-22,CBJ,D,64,215.48,9.557898
1306,Zack Kassian,19-20,EDM,R,58,23.18,-12.042102
1307,Zemgus Girgensons,21-22,BUF,C/L,55,54.37,-5.272102

In [45]:
#Import SH On-Ice Totals Data
skater_SH_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/SH%20On-Ice%20Totals.csv')
#print(skater_SH_totals_raw)
#skater_SH_totals_raw.head()

In [46]:
#Reduce SH On-Ice Totals Data
skater_SH_totals = skater_SH_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
#skater_SH_totals

In [47]:
#Add columns for G+/-,xG+/-
skater_SH_totals['G+/-'] = skater_SH_totals['GF'] - skater_SH_totals['GA']
skater_SH_totals['xG+/-'] = skater_SH_totals['xGF'] - skater_SH_totals['xGA']
#skater_SH_totals

In [48]:
#Add column for mean G+/- and xG+/-
G_mean = skater_SH_totals['G+/-'].mean()
xG_mean = skater_SH_totals['xG+/-'].mean()
#G_mean
#xG_mean

In [49]:
#Add column for stats above average for G+/- and xG+/-
skater_SH_totals['GAA'] = skater_SH_totals['G+/-'] - G_mean
skater_SH_totals['xGAA'] = skater_SH_totals['xG+/-'] - xG_mean
#skater_SH_totals

In [50]:
skater_SH_totals = skater_SH_totals.drop(columns = ['xGF%','xGF','xGA','xG+/-','xGAA','GF%','GF','GA','G+/-'])
#skater_SH_totals

In [51]:
skater_SH_totals = skater_SH_totals.rename(columns = {'Season':'Season_SH','Team':'Team_SH','Position':'Position_SH','GP':'GP_SH','TOI':'TOI_SH','GAA':'GAA_SH'})
#skater_SH_totals

In [52]:
#Import Player Box Stats
skater_box_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Player%20Stats%20Box.csv')
#print(skater_box_totals_raw)
#skater_box_totals_raw.head()

In [53]:
#Reduce Data Stats
skater_box_totals = skater_box_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','G','A1','A2','Points']]
#skater_box_totals.head()

In [54]:
#Look at positions to get correct F/D average points
#print(skater_box_totals['Position'].unique())
#print(skater_box_totals.count())

forwards_table = skater_box_totals.loc[(skater_box_totals.Position == "L") | (skater_box_totals.Position == "C") | (skater_box_totals.Position == "C/L") | (skater_box_totals.Position == "R") | (skater_box_totals.Position == "L/R") | (skater_box_totals.Position == "C/R")]
#forwards_table.head(10)
#print(forwards_table.count())

defensemen_table = skater_box_totals.loc[(skater_box_totals.Position == "D") | (skater_box_totals.Position == "D/L")]
#defensemen_table.head(10)
#print(defensemen_table.count())

In [55]:
#Get Mean of Points
Points_mean = skater_box_totals['Points'].mean()
#print(Points_mean)

Forwards_mean = forwards_table['Points'].mean()
#print(Forwards_mean)

Defensemen_mean = defensemen_table['Points'].mean()
#print(Defensemen_mean)

In [56]:
#Get PAA
#skater_box_totals['PAA'] = skater_box_totals['Points'] - Points_mean
#skater_box_totals

#Get PAA for Fwds and Dmen and combine

forwards_table['PAA'] = forwards_table['Points'] - Forwards_mean
forwards_table.head(10)

defensemen_table['PAA'] = defensemen_table['Points'] - Defensemen_mean
defensemen_table.head(10)


#Add dataframes back together and sort again

concat_frames = [forwards_table, defensemen_table]
skater_box_totals = pd.concat(concat_frames)
skater_box_totals = skater_box_totals.sort_index()
#skater_box_totals.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [57]:
#Here's where problem is occuring when we combine the tables we're ending up with for example ekblad stats being repeated numerous times
#combined_player_df = pd.merge(skater_EV_totals, skater_PP_totals, how="left", on=["Player", "Player"])
#combined_player_df = skater_EV_totals.merge(skater_PP_totals, on = 'Player', how = 'left')
#combined_player_df.head(20)

combined_player_df = pd.concat([skater_EV_totals,skater_PP_totals], axis='columns')
combined_player_df.head(20)

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,...,xGA,G+/-,xG+/-,Player,Season_PP,Team_PP,Position_PP,GP_PP,TOI_PP,GAA_PP
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,58.74,3.01,2.95,...,2.22,0.06,0.94,Aaron Ekblad,19-20,FLA,D,67.0,95.90,-2.792102
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,56.75,50.83,69.36,52.87,...,48.26,16.49,1.62,Aaron Ekblad,20-21,FLA,D,35.0,132.75,7.497898
2,Aaron Ekblad,20-21,FLA,D,35,603.07,55.98,55.36,22.29,17.53,...,19.71,4.76,4.73,Aaron Ekblad,21-22,FLA,D,61.0,214.78,20.347898
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,63.35,59.01,66.82,38.66,...,39.95,28.16,17.57,Adam Boqvist,19-20,CHI,D,41.0,87.02,-5.822102
4,Aaron Ness,19-20,ARI,D,24,289.15,49.44,50.87,12.82,13.11,...,10.43,-0.29,0.37,Adam Boqvist,20-21,CHI,D,35.0,118.65,-1.712102
5,Adam Boqvist,19-20,CHI,D,41,549.68,54.67,48.27,31.11,25.79,...,26.53,5.32,-1.77,Adam Boqvist,21-22,CBJ,D,50.0,98.63,-4.262102
6,Adam Boqvist,20-21,CHI,D,35,450.22,46.99,46.96,18.79,21.20,...,19.99,-2.41,-2.29,Adam Erne,19-20,DET,L,55.0,48.92,-13.162102
7,Adam Boqvist,21-22,CBJ,D,52,748.40,47.38,44.58,39.84,44.24,...,37.45,-4.40,-7.33,Adam Erne,20-21,DET,L,44.0,67.95,-6.412102
8,Adam Brooks,19-20,TOR,C,7,51.60,74.81,53.99,2.94,0.99,...,2.02,1.95,0.35,Adam Erne,21-22,DET,L,77.0,72.93,-11.212102
9,Adam Brooks,20-21,TOR,C,11,109.72,71.95,54.09,5.13,2.00,...,2.75,3.13,0.49,Adam Fox,19-20,NYR,D,69.0,136.88,2.307898
10,Adam Brooks,21-22,VGK,C,7,74.08,100.00,57.99,3.13,0.00,...,2.92,3.13,1.11,Adam Fox,20-21,NYR,D,52.0,197.82,18.127898
11,Adam Brooks,21-22,WPG,C,14,100.52,49.50,33.72,0.99,1.01,...,4.62,-0.02,-2.27,Adam Fox,21-22,NYR,D,77.0,228.88,33.457898
12,Adam Erne,19-20,DET,L,56,599.22,22.54,42.26,8.74,30.03,...,23.73,-21.29,-6.36,Adam Gaudette,19-20,VAN,C,58.0,89.62,4.647898
13,Adam Erne,20-21,DET,L,45,537.17,48.08,45.34,17.93,19.36,...,21.75,-1.43,-3.71,Adam Gaudette,20-21,VAN,C,33.0,35.90,-11.252102
14,Adam Erne,21-22,DET,L,79,957.05,38.03,44.44,26.62,43.37,...,41.96,-16.75,-8.40,Adam Gaudette,21-22,OTT,C,49.0,57.45,-12.292102
15,Adam Fox,19-20,NYR,D,70,1118.08,59.90,52.64,63.10,42.25,...,45.43,20.85,5.07,Adam Henrique,19-20,ANA,C,70.0,161.75,0.117898
16,Adam Fox,20-21,NYR,D,55,954.22,58.56,54.81,43.44,30.74,...,31.91,12.70,6.79,Adam Henrique,20-21,ANA,C,44.0,79.65,-9.102102
17,Adam Fox,21-22,NYR,D,78,1366.42,54.58,50.61,62.30,51.84,...,54.43,10.46,1.34,Adam Henrique,21-22,ANA,C,57.0,120.70,7.137898
18,Adam Gaudette,19-20,VAN,C,59,624.35,46.08,46.32,26.69,31.23,...,26.53,-4.54,-3.64,Adam Lowry,20-21,WPG,L,52.0,41.37,-10.432102
19,Adam Gaudette,20-21,CHI,C,7,79.17,39.86,36.54,3.91,5.90,...,5.02,-1.99,-2.13,Adam Lowry,21-22,WPG,C/L,75.0,72.17,-5.632102

In [ ]:
combined_player_df = combined_player_df.drop(columns = ['GF%','xGF%','GF','GA','Season_y','Team_y','Position_y','GP_y','GF%_y','GF_y','GA_y','G+/-_y'])
combined_player_df

In [ ]:
#Merge EV,PP,SH tables together
full_player_totals = pd.merge(combined_player_df, skater_SH_totals, how="left", on=["Player", "Player"])
#full_player_totals.head(10)

In [ ]:
#Clean up data
full_player_totals = full_player_totals.drop(columns = ['Season','Team','Position','GP','GF%','GF','GA','G+/-'])
#full_player_totals.head(10)

In [ ]:
#Merge EV,PP,SH and Points tables together
full_player_totals = pd.merge(full_player_totals, skater_box_totals, how="left", on=["Player", "Player"])
full_player_totals.head(30)

In [ ]:
combined_player_df = combined_player_df.drop_duplicates(subset=['Player','GP_x'])
combined_player_df.head(20)

In [ ]:
#Drop Repeated Columns
full_player_totals = full_player_totals.drop(columns = ['Season','Team','Position','GP','G','A1','A2'])
#full_player_totals.head(10)

In [ ]:
#Rename Columns
full_player_totals = full_player_totals.rename(columns = {'Season_x':'Season','Team_x':'Team','Position_x':'Position','GP_x':'GP','TOI_x':'TOI_EV','G+/-_x':'G_EV','xG+/-':'xG_EV','TOI_x':'TOI_PP','GAA_x':'GAA_PP','TOI_x':'TOI_SH','GAA_y':'GAA_SH','TOI_y':'TOI'})
#full_player_totals

In [ ]:
#Replace NaN with 0
full_player_totals = full_player_totals.replace(np.NaN, 0)
#full_player_totals

In [ ]:
#Import Goalie Data
goalie_stats_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/Goalie%20Stats.csv')
#print(goalie_stats_raw)
#goalie_stats_raw.head()

In [ ]:
#Reduce Goalie Stats
goalie_stats = goalie_stats_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GA','Sv%','GSAx']]
#goalie_stats.head()

In [ ]:
#Add Active / Inactive Column to both data tables
full_player_totals['A/I'] = 'Active'
#full_player_totals

In [ ]:
#Make a Data Table for each team
Avalanche_skaters = full_player_totals.loc[(full_player_totals.Team == 'COL')]
Avalanche_skaters

In [ ]:
full_player_totals.head(30)

In [ ]:
#Inspect Data
full_player_totals.head(20)

In [ ]:
#skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
#print(skater_PP_rates_raw)
#skater_PP_rates_raw.head()

**Stuff to Do Next - (have no more time, so quick thoughts that I have not checked, like the next one would be so easy to check if I had another 5 mins)**

In [ ]:
#Are these right? duplicate naming issues for "TOI_SH" and no PP?
full_player_totals.columns

Need to create a dataframe for each team. Use the loc function on player table first to get all the players for one team. Then do the same thing with goalies. We will probably need to keep them seperate tables since they do not have similar variables

Not necessary at this stage but eventually we are going to want to consolidate these code blocks. Ex, the code to create all of the team rosters should be in one block with no output. For now you can do 64 blocks (32 for skaters, 32 for goalies) and show output so we can see if there are any errors, but once we get past that stage we will comment out the output and put it all in one block. If we ever need to go back in check you just take out the '#' and run the code to see the output.

Need to add a column for 'status'. I am thinking the two states we use are 'active' and 'inactive' for the starting lineups. Will be 18 skaters and 1 goalie when we update daily but doesnt matter now. Should put this in before all of the loc functions so it shows up for the team dataframes. Note: will have to be added to both the full_player_totals dataframe and the goalie_stats dataframe.

Add folder in github for the csv's, update github links in code to pull data