<a href="https://colab.research.google.com/github/danmartin25/Hockey_Model/blob/main/Hockey_Model_Mark_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes**
1. On-ice EV xG+/-

2. On-ice EV G+/-

3. On-ice PP G+/- above average

4. On-ice SH G+/- above average

5. GSAx

6. Individual points above average (depending on position and role)

In [ ]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Import Even-Strength On-Ice Totals Data
skater_EV_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/EV%20On-Ice%20Totals.csv')
print(skater_EV_totals_raw)
skater_EV_totals_raw.head()

                 Player Season Team Position  GP      TOI    GF%    SF%  \
0            A.J. Greer  21-22  N.J        L   9    70.45  50.50  57.90
1          Aaron Ekblad  19-20  FLA        D  67  1220.55  56.75  54.15
2          Aaron Ekblad  20-21  FLA        D  35   603.07  55.98  55.00
3          Aaron Ekblad  21-22  FLA        D  61  1047.80  63.35  58.86
4            Aaron Ness  19-20  ARI        D  24   289.15  49.44  51.48
...                 ...    ...  ...      ...  ..      ...    ...    ...
2650        Zdeno Chara  19-20  BOS        D  68  1166.42  62.20  49.01
2651        Zdeno Chara  20-21  WSH        D  55   813.33  51.49  49.44
2652        Zdeno Chara  21-22  NYI        D  72  1191.52  53.26  44.96
2653  Zemgus Girgensons  19-20  BUF        C  69   783.73  45.67  47.49
2654  Zemgus Girgensons  21-22  BUF      C/L  56   668.30  44.00  47.21

        FF%    CF%  ...       CA    xGF    xGA     G±      S±      F±      C±  \
0     57.33  56.89  ...    54.34   3.16   2.22   0.06   10.82   14.68   17.36
1     54.03  53.68  ...  1014.02  49.88  48.26  16.49  105.40  133.71  161.08
2     54.02  54.30  ...   456.49  24.44  19.71   4.76   57.29   62.33   85.88
3     59.73  59.25  ...   832.83  57.52  39.95  28.16  206.60  294.26  378.31
4     49.81  49.65  ...   274.00  10.80  10.43  -0.29    8.70   -1.58   -3.86
...     ...    ...  ...      ...    ...    ...    ...     ...     ...     ...
2650  48.63  48.16  ...  1081.03  41.95  41.11  22.43  -23.38  -44.27  -76.69
2651  49.07  50.41  ...   700.71  28.36  26.40   2.03   -8.76  -19.84   11.67
2652  44.64  43.76  ...  1240.89  46.88  54.86   5.92 -121.55 -177.36 -275.54
2653  49.16  49.30  ...   621.61  25.39  25.86  -4.34  -35.51  -16.06  -17.17
2654  48.25  47.86  ...   539.59  20.39  24.03  -5.14  -34.83  -28.56  -44.25

        xG±    Sh%    Sv%
0      0.94   7.59  89.76
1      1.62  10.08  90.93
2      4.73   7.07  93.20
3     17.57   9.74  91.94
4      0.37   8.45  90.83
...     ...    ...    ...
2650   0.84   9.92  94.21
2651   1.96   9.13  91.59
2652  -7.98   8.92  93.61
2653  -0.47   6.82  92.66
2654  -3.64   6.39  92.73

[2655 rows x 28 columns]

,Player,Season,Team,Position,GP,TOI,GF%,SF%,FF%,CF%,...,CA,xGF,xGA,G±,S±,F±,C±,xG±,Sh%,Sv%
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,57.90,57.33,56.89,...,54.34,3.16,2.22,0.06,10.82,14.68,17.36,0.94,7.59,89.76
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,56.75,54.15,54.03,53.68,...,1014.02,49.88,48.26,16.49,105.40,133.71,161.08,1.62,10.08,90.93
2,Aaron Ekblad,20-21,FLA,D,35,603.07,55.98,55.00,54.02,54.30,...,456.49,24.44,19.71,4.76,57.29,62.33,85.88,4.73,7.07,93.20
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,63.35,58.86,59.73,59.25,...,832.83,57.52,39.95,28.16,206.60,294.26,378.31,17.57,9.74,91.94
4,Aaron Ness,19-20,ARI,D,24,289.15,49.44,51.48,49.81,49.65,...,274.00,10.80,10.43,-0.29,8.70,-1.58,-3.86,0.37,8.45,90.83

In [ ]:
#Restrict Totals Data to GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
skater_EV_totals = skater_EV_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
skater_EV_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,58.74,3.01,2.95,3.16,2.22
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,56.75,50.83,69.36,52.87,49.88,48.26
2,Aaron Ekblad,20-21,FLA,D,35,603.07,55.98,55.36,22.29,17.53,24.44,19.71
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,63.35,59.01,66.82,38.66,57.52,39.95
4,Aaron Ness,19-20,ARI,D,24,289.15,49.44,50.87,12.82,13.11,10.80,10.43
...,...,...,...,...,...,...,...,...,...,...,...,...
2650,Zdeno Chara,19-20,BOS,D,68,1166.42,62.20,50.51,57.18,34.75,41.95,41.11
2651,Zdeno Chara,20-21,WSH,D,55,813.33,51.49,51.79,35.05,33.02,28.36,26.40
2652,Zdeno Chara,21-22,NYI,D,72,1191.52,53.26,46.08,48.37,42.45,46.88,54.86
2653,Zemgus Girgensons,19-20,BUF,C,69,783.73,45.67,49.54,22.91,27.25,25.39,25.86
2654,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,44.00,45.90,18.86,24.00,20.39,24.03

In [ ]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_EV_totals['G+/-'] = skater_EV_totals['GF'] - skater_EV_totals['GA']
skater_EV_totals['xG+/-'] = skater_EV_totals['xGF'] - skater_EV_totals['xGA']
skater_EV_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA,G+/-,xG+/-
0,A.J. Greer,21-22,N.J,L,9,70.45,50.50,58.74,3.01,2.95,3.16,2.22,0.06,0.94
1,Aaron Ekblad,19-20,FLA,D,67,1220.55,56.75,50.83,69.36,52.87,49.88,48.26,16.49,1.62
2,Aaron Ekblad,20-21,FLA,D,35,603.07,55.98,55.36,22.29,17.53,24.44,19.71,4.76,4.73
3,Aaron Ekblad,21-22,FLA,D,61,1047.80,63.35,59.01,66.82,38.66,57.52,39.95,28.16,17.57
4,Aaron Ness,19-20,ARI,D,24,289.15,49.44,50.87,12.82,13.11,10.80,10.43,-0.29,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650,Zdeno Chara,19-20,BOS,D,68,1166.42,62.20,50.51,57.18,34.75,41.95,41.11,22.43,0.84
2651,Zdeno Chara,20-21,WSH,D,55,813.33,51.49,51.79,35.05,33.02,28.36,26.40,2.03,1.96
2652,Zdeno Chara,21-22,NYI,D,72,1191.52,53.26,46.08,48.37,42.45,46.88,54.86,5.92,-7.98
2653,Zemgus Girgensons,19-20,BUF,C,69,783.73,45.67,49.54,22.91,27.25,25.39,25.86,-4.34,-0.47
2654,Zemgus Girgensons,21-22,BUF,C/L,56,668.30,44.00,45.90,18.86,24.00,20.39,24.03,-5.14,-3.64

In [ ]:
#Import PP On-Ice Rates Data
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Totals.csv')
print(skater_PP_totals_raw)
skater_PP_totals_raw.head()

                 Player Season Team Position  GP     TOI     GF%    SF%  \
0          Aaron Ekblad  19-20  FLA        D  67   95.90   92.22  81.87
1          Aaron Ekblad  20-21  FLA        D  35  132.75   91.82  87.33
2          Aaron Ekblad  21-22  FLA        D  61  214.78   92.51  86.16
3          Adam Boqvist  19-20  CHI        D  41   87.02   88.20  81.06
4          Adam Boqvist  20-21  CHI        D  35  118.65   82.03  75.97
...                 ...    ...  ...      ...  ..     ...     ...    ...
1303      Zach Werenski  19-20  CBJ        D  63  171.17   80.98  84.22
1304      Zach Werenski  20-21  CBJ        D  33   73.60  100.00  81.71
1305      Zach Werenski  21-22  CBJ        D  64  215.48   87.27  79.95
1306       Zack Kassian  19-20  EDM        R  58   23.18   54.38  91.63
1307  Zemgus Girgensons  21-22  BUF      C/L  55   54.37  100.00  83.74

        FF%    CF%  ...     CA    xGF   xGA     G±      S±      F±      C±  \
0     84.52  85.63  ...  22.50   9.81  0.72   9.44   63.83   86.56  111.57
1     87.48  87.89  ...  33.55  18.23  1.53  19.73  132.80  175.41  209.85
2     86.54  87.19  ...  51.02  29.39  2.64  32.58  171.71  231.62  296.13
3     84.35  86.69  ...  19.11   8.91  0.91   6.41   53.41   75.83  105.34
4     79.96  82.55  ...  32.46  11.76  3.35  10.52   56.65   84.80  121.14
...     ...    ...  ...    ...    ...   ...    ...     ...     ...     ...
1303  84.40  86.20  ...  40.83  17.75  2.62  13.36  129.57  162.04  214.16
1304  84.76  87.54  ...  12.26   5.56  0.98   4.99   42.47   55.87   73.86
1305  82.53  84.84  ...  66.37  24.45  5.38  21.79  146.84  221.57  305.10
1306  93.42  87.91  ...   3.24   1.22  0.04   0.19   10.45   13.72   20.31
1307  86.95  85.39  ...  11.40   4.10  0.32   6.96   34.21   46.61   55.24

        xG±    Sh%     Sv%
0      9.09  12.57   95.21
1     16.70  13.94   91.44
2     26.75  17.33   91.27
3      8.00  10.62   93.92
4      8.41  16.26   88.74
...     ...    ...     ...
1303  15.13  10.95   86.27
1304   4.58   9.12  100.00
1305  19.07  13.02   92.43
1306   1.18  10.26    5.71
1307   3.78  16.40  100.00

[1308 rows x 28 columns]

,Player,Season,Team,Position,GP,TOI,GF%,SF%,FF%,CF%,...,CA,xGF,xGA,G±,S±,F±,C±,xG±,Sh%,Sv%
0,Aaron Ekblad,19-20,FLA,D,67,95.90,92.22,81.87,84.52,85.63,...,22.50,9.81,0.72,9.44,63.83,86.56,111.57,9.09,12.57,95.21
1,Aaron Ekblad,20-21,FLA,D,35,132.75,91.82,87.33,87.48,87.89,...,33.55,18.23,1.53,19.73,132.80,175.41,209.85,16.70,13.94,91.44
2,Aaron Ekblad,21-22,FLA,D,61,214.78,92.51,86.16,86.54,87.19,...,51.02,29.39,2.64,32.58,171.71,231.62,296.13,26.75,17.33,91.27
3,Adam Boqvist,19-20,CHI,D,41,87.02,88.20,81.06,84.35,86.69,...,19.11,8.91,0.91,6.41,53.41,75.83,105.34,8.00,10.62,93.92
4,Adam Boqvist,20-21,CHI,D,35,118.65,82.03,75.97,79.96,82.55,...,32.46,11.76,3.35,10.52,56.65,84.80,121.14,8.41,16.26,88.74

In [ ]:
#Reduce PP On-Ice Totals Data
skater_PP_totals = skater_PP_totals_raw.loc[:,['Player','Season','Team','Position','GP','TOI','GF%','xGF%','GF','GA','xGF','xGA']]
skater_PP_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA
0,Aaron Ekblad,19-20,FLA,D,67,95.90,92.22,93.16,10.31,0.87,9.81,0.72
1,Aaron Ekblad,20-21,FLA,D,35,132.75,91.82,92.26,21.66,1.93,18.23,1.53
2,Aaron Ekblad,21-22,FLA,D,61,214.78,92.51,91.76,35.45,2.87,29.39,2.64
3,Adam Boqvist,19-20,CHI,D,41,87.02,88.20,90.73,7.40,0.99,8.91,0.91
4,Adam Boqvist,20-21,CHI,D,35,118.65,82.03,77.83,13.47,2.95,11.76,3.35
...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Zach Werenski,19-20,CBJ,D,63,171.17,80.98,87.14,17.46,4.10,17.75,2.62
1304,Zach Werenski,20-21,CBJ,D,33,73.60,100.00,85.02,4.99,0.00,5.56,0.98
1305,Zach Werenski,21-22,CBJ,D,64,215.48,87.27,81.96,25.51,3.72,24.45,5.38
1306,Zack Kassian,19-20,EDM,R,58,23.18,54.38,96.83,1.18,0.99,1.22,0.04
1307,Zemgus Girgensons,21-22,BUF,C/L,55,54.37,100.00,92.76,6.96,0.00,4.10,0.32

In [ ]:
#Add columns for G+/-,xG+/-,G/s,xG/s
skater_PP_totals['G+/-'] = skater_PP_totals['GF'] - skater_PP_totals['GA']
skater_PP_totals['xG+/-'] = skater_PP_totals['xGF'] - skater_PP_totals['xGA']
skater_PP_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA,G+/-,xG+/-
0,Aaron Ekblad,19-20,FLA,D,67,95.90,92.22,93.16,10.31,0.87,9.81,0.72,9.44,9.09
1,Aaron Ekblad,20-21,FLA,D,35,132.75,91.82,92.26,21.66,1.93,18.23,1.53,19.73,16.70
2,Aaron Ekblad,21-22,FLA,D,61,214.78,92.51,91.76,35.45,2.87,29.39,2.64,32.58,26.75
3,Adam Boqvist,19-20,CHI,D,41,87.02,88.20,90.73,7.40,0.99,8.91,0.91,6.41,8.00
4,Adam Boqvist,20-21,CHI,D,35,118.65,82.03,77.83,13.47,2.95,11.76,3.35,10.52,8.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Zach Werenski,19-20,CBJ,D,63,171.17,80.98,87.14,17.46,4.10,17.75,2.62,13.36,15.13
1304,Zach Werenski,20-21,CBJ,D,33,73.60,100.00,85.02,4.99,0.00,5.56,0.98,4.99,4.58
1305,Zach Werenski,21-22,CBJ,D,64,215.48,87.27,81.96,25.51,3.72,24.45,5.38,21.79,19.07
1306,Zack Kassian,19-20,EDM,R,58,23.18,54.38,96.83,1.18,0.99,1.22,0.04,0.19,1.18
1307,Zemgus Girgensons,21-22,BUF,C/L,55,54.37,100.00,92.76,6.96,0.00,4.10,0.32,6.96,3.78

In [ ]:
#Add column for mean G+/- and xG+/-
G_mean = skater_PP_totals['G+/-'].mean()
xG_mean = skater_PP_totals['xG+/-'].mean()
#G_mean
#xG_mean

12.23210244648318

In [14]:
#Add column for stats above average for G+/- and xG+/-
skater_PP_totals['GAA'] = skater_PP_totals['G+/-'] - G_mean
skater_PP_totals['xGAA'] = skater_PP_totals['xG+/-'] - xG_mean
skater_PP_totals

,Player,Season,Team,Position,GP,TOI,GF%,xGF%,GF,GA,xGF,xGA,G+/-,xG+/-,G+/- AAvg,xG+/- AAvg,GAA,xGAA
0,Aaron Ekblad,19-20,FLA,D,67,95.90,92.22,93.16,10.31,0.87,9.81,0.72,9.44,9.09,-2.792102,-2.726284,-2.792102,-2.726284
1,Aaron Ekblad,20-21,FLA,D,35,132.75,91.82,92.26,21.66,1.93,18.23,1.53,19.73,16.70,7.497898,4.883716,7.497898,4.883716
2,Aaron Ekblad,21-22,FLA,D,61,214.78,92.51,91.76,35.45,2.87,29.39,2.64,32.58,26.75,20.347898,14.933716,20.347898,14.933716
3,Adam Boqvist,19-20,CHI,D,41,87.02,88.20,90.73,7.40,0.99,8.91,0.91,6.41,8.00,-5.822102,-3.816284,-5.822102,-3.816284
4,Adam Boqvist,20-21,CHI,D,35,118.65,82.03,77.83,13.47,2.95,11.76,3.35,10.52,8.41,-1.712102,-3.406284,-1.712102,-3.406284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,Zach Werenski,19-20,CBJ,D,63,171.17,80.98,87.14,17.46,4.10,17.75,2.62,13.36,15.13,1.127898,3.313716,1.127898,3.313716
1304,Zach Werenski,20-21,CBJ,D,33,73.60,100.00,85.02,4.99,0.00,5.56,0.98,4.99,4.58,-7.242102,-7.236284,-7.242102,-7.236284
1305,Zach Werenski,21-22,CBJ,D,64,215.48,87.27,81.96,25.51,3.72,24.45,5.38,21.79,19.07,9.557898,7.253716,9.557898,7.253716
1306,Zack Kassian,19-20,EDM,R,58,23.18,54.38,96.83,1.18,0.99,1.22,0.04,0.19,1.18,-12.042102,-10.636284,-12.042102,-10.636284
1307,Zemgus Girgensons,21-22,BUF,C/L,55,54.37,100.00,92.76,6.96,0.00,4.10,0.32,6.96,3.78,-5.272102,-8.036284,-5.272102,-8.036284

In [ ]:
skater_PP_totals_raw = pd.read_csv('https://raw.githubusercontent.com/danmartin25/Hockey_Model/main/PP%20On-Ice%20Rates.csv')
print(skater_PP_rates_raw)
skater_PP_rates_raw.head()